{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 style="text-align: center; color: #008db0;">Diploma In Animation</h2>
                

<!--Blog-Single Start-->
<section class="blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="pq-blog-post">
                    <div class="pq-post-media">
                        <img src="{% static 'images/gtecpayyanur_da.jpg' %}" alt="blog-img" width="800px" height="500px">
                            
                    </div>
                    <div class="pq-blog-contain">
                        
                        <p>One can hold control on animation world by moving perfect hand on animation concepts, principles & software’s. This particular course supports every individual as professional in the area of 2D and 3D animation. It stands to be specialized training in Character animation, animation interactive CD making, walk through animation etc...</p>
                     
                       

                    </div>
                    <div class="container-fluid" >
                      <ul style="list-style-type: none;"  >
                        <h3 style="color: #0c8bcb;">Graphics Suite</h3>
                        <li style="color:black;">Concept of animation</li>
                        <li style="color:black;">Concept of animation movie making</li>
                        <li style="color:black;">Principles of animation</li>
                        <li style="color:black;">Introduction to digital animation</li>
                        <li style="color:black;">Pre-production</li>
                        <li style="color:black;">Production</li>
                        <li style="color:black;">Post production</li>
<BR>
                        <h3 style="color: #0c8bcb;">Animation Suite</h3>
                        <li style="color:black;">2D Animation, Adobe Animate</li>
                        <li style="color:black;">3D Animation, 3ds Max, Autodesk Maya</li>
                       
                      </ul>
                        
                      </div>
                </div>

            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                             
                    
                <div id="categories-2" class="widget widget_categories">
                    <h2 class="widget-title">Career Opportunities</h2>
                    <ul>
                        <li>
                            <a href="#">Compositor</a>
                        </li>
                        <li>
                            <a href="#">2D/3D Animate</a>
                        </li>
                        <li>
                            <a href="#">3D Modeler</a>
                        </li>

                        <li>
                            <a href="#">Layout Designer</a>
                        </li>
                        <li>
                            <a href="#">Effects Artist</a>
                        </li>
                    </ul>
                </div> <div id="categories-2" class="widget widget_categories">
                    <img src="{% static 'images/gtecpayyanur_daa.jpg' %}" >
                </div>
                       
            </div>

                </div>
            
            </div>
        </div>
    </div>
</section>
{% endblock %}