{% extends 'base.html' %}
{% block title %} Diploma In Animation (DA)| G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;"> Diploma In Animation (DA)</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">One can hold control on animation world by moving perfect hand on animation concepts, principles & software’s. This particular course supports every individual as professional in the area of 2D and 3D animation. It stands to be specialized training in Character animation, animation interactive CD making, walk through animation etc...</p>
                       
                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/da.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Graphics Suite
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Concept of animation
                  </a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Concept of animation movie making
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Principles of animation
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Introduction to digital animation
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Pre-production
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Production
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Post production
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Animation Suite
                    </a>
                    </div>
                   
                  </div>
                  
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;2D Animation, Adobe Animate
                    </a>
                    </div>
                   
                  </div>

                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;3D Animation, 3ds Max, Autodesk Maya
                    </a>
                    </div>
                   
                  </div>
                  
                    </div>
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ DWA - G-TEC Certificate
                   
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}