{% extends 'base.html' %}
{% block title %} Diploma In Digital Imaging | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h2 style="text-align: center; color: #008db0;">Diploma In Digital Imaging</h2>
    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/ddi.jpg' %}" alt="blog-img">
                                
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>Through this course user can specialize themselves in the field of graphical outputs like Layouts, Digital photo editing, Graphical designs, Pre press works & Illustrations. This involves the creation of variety brochures, cards, logos, digital photo manipulation and quality effects in print film making and advertisement works.</p>
                            <!-- <blockquote style="background-color: rgb(250, 253, 255)"><h3>Career Path:</h3><br>
                                <p><strong>VFX Artist & Editor<br>
                                    2D Animator<br>
                                    3D Modeler & Animator<br>
                                    Graphic Designer</strong></p>
                            </blockquote> -->
                           

                        </div>
                
                   

                    <div class="container-fluid" >
                        <ul style="list-style-type: none;" >
                          <li style="color:black;">Adobe Photoshop</li>
                          <li style="color:black;">CorelDraw</li>
                          <li style="color:black;">Adobe Illustrator</li>
                          <li style="color:black;">Adobe PageMaker</li>
                          <li style="color:black;">Adobe InDesign</li>
                        </ul>
                          
                        </div> </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Career Opportunities</h2>
                        <ul>    
                        <li>
                                <a href="#">Visualizer</a>
                            </li>
                            <li>
                                <a href="#">Creative Head</a>
                            </li>
                            <li>
                                <a href="#">Desktop Publisher</a>
                            </li>
                            <li>
                                <a href="#">Graphic Designer</a>
                            </li>
                            <li>
                                <a href="#">Pre-Press Specialist</a>
                            </li>
                            <li>
                                <a href="#">Photo Studio Proffesional</a>
                            </li>
                          
                        
                             
                        </ul>
                           
                    </div>

              
                
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Software</h2>
                        <ul>    
                        <li>
                                <a href="#">Visualizer</a>
                            </li>
                            <li>
                                <a href="#">Creative Head</a>
                            </li>
                            <li>
                                <a href="#">Desktop Publisher</a>
                            </li>
                            <li>
                                <a href="#">Graphic Designer</a>
                            </li>
                            <li>
                                <a href="#">Pre-Press Specialist</a>
                            </li>
                            <li>
                                <a href="#">Photo Studio Proffesional</a>
                            </li>
                          
                        
                             
                        </ul>
                           
                    </div>

                </div>


                </div>
            </div>
        </div>
    </section>
   
{% endblock %}