{% extends 'base.html' %}
{% block title %} Diploma In Graphic Designing | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h2 style="text-align: center; color: #008db0;">Diploma In Graphic Designing</h2>
<!-- </div>

</nav>
</div>
</div>
</div>
</div> -->
<!--Breadcrumb End-->

<!--Blog-Single Start-->
<section class="blog-single">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="pq-blog-post">
<div class="pq-post-media">
    <img src="{% static 'images/gd.jpg' %}" alt="blog-img" style="width:90%">
        
</div>
<div class="pq-blog-contain">
    
    <p>Through this course user can specialize themselves in the field of graphical outputs like Layouts, Digital photo editing, Graphical designs, Pre press works & Illustrations. This involves the creation of variety brochures, cards, logos, digital photo manipulation and quality effects in print film making and advertisement works.</p>
    <!-- <blockquote style="background-color: rgb(250, 253, 255)"><h3>Career Path:</h3><br>
        <p><strong>VFX Artist & Editor<br>
            2D Animator<br>
            3D Modeler & Animator<br>
            Graphic Designer</strong></p>
    </blockquote> -->
   

</div>
<div class="container-fluid" >
  <ul style="list-style-type: none;"  >

    <li style="color:black;">Adobe Photoshop</li>
    <li style="color:black;">Adobe Illustrator</li>
    <li style="color:black;">CorelDraw</li>
    <li style="color:black;">Adobe PageMaker</li>

  </ul>
    
  </div>
</div>


</div>
<div class="col-lg-4 mt-4 mt-lg-0">
<div id="secondary" class="sidebar widget-area">

<div class="pq-widget-menu widget">
    <h2 class="widget-title">Career Path</h2></br>
    <ul style="list-style-type: none; color: #0c8bcb;">
            <li><b>Visualizer</b></li>
            <li><b>Creative Head</b></li>
            <li><b>Desktop Publisher</b></li>
            <li><b>Graphic Designer</b></li>
            <li><b>Pre-Press Specialist</b></li>
            <li><b>Photo Studio Proffesional</b></li>
        </ul>

        </div> 
    </div>
    

    <div>
        <img src="{% static 'images/gd1.jpg' %}" style="padding-top: 70px;" >
    </div>
    
</div>
</div>
</div>
</div>
</section>

{% endblock %}