{% extends 'base.html' %}
{% block title %} Professional Diploma In Digital Marketing | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
    
<h2 style="text-align: center; color: #008db0;">Professional Diploma In Digital Marketing </h2>
                      

<!--Blog-Single Start-->
<section class="blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="pq-blog-post">
                    <div class="pq-post-media">
                        <img src="{% static 'images/DIGITAL.jpg' %}" alt="blog-img">
                            
                    </div>
                    <div class="pq-blog-contain">
                        
                        <p>The objective of the coure i to help tudent to understand digital marketing methods. It provides participants with a rich et of digital skills to devise,plan and implement an engaging and successful digital strategy and delivers and supports business objective. </p>

                    </div>
                   
                </div>

              
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                             
                    
                <div id="categories-2" class="widget widget_categories">
                    <h2 class="widget-title">Career Opportunities</h2>
                    <ul></b>
                        <li>
                            <a href="#">Web Designer</a>
                        </li>
                        <li>
                            <a href="#">Desktop Publisher</a>
                        </li>
                        <li>
                            <a href="#">Web Developer </a>
                        </li>

                        <li>
                            <a href="#">Layout Designer</a>
                        </li>
                    </ul>
                </div> <div id="categories-2" class="widget widget_categories">
                    <img src="{% static 'images/digital2.jpg' %}" >
                </div>
                       
            </div>
    
            </div>
        </div>
    </div>
</section>
<h1 style="text-align: center; color: #008db0;">Diploma in Digital Marketing  </h1>

<section class="blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="pq-blog-post">
                    <div class="pq-post-media">
                        <img src="{% static 'images/digital1.jpg' %}" style="width:90%" alt="blog-img">
                            
                    </div>
                    <div class="pq-blog-contain">
                        
                        <p>The objective of the course is to help students to understand digital marketing methods. It provides participants with a rich set of digital skills to devise, plan and implement an engaging and successful digital strategy that delivers on and supports business objective.</p>

                    </div>
                   
                </div>

              
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                             
                    
                <div id="categories-2" class="widget widget_categories">
                    <h2 class="widget-title">Career Opportunities</h2>
                    <ul></b>
                        <li>
                            <a href="#">Web Designer</a>
                        </li>
                        <li>
                            <a href="#">Desktop Publisher</a>
                        </li>
                        <li>
                            <a href="#">Web Developer </a>
                        </li>

                        <li>
                            <a href="#">Layout Designer</a>
                        </li>
                    </ul>
                </div> <div id="categories-2" class="widget widget_categories">
                    <img src="{% static 'images/digital3.jpg' %}" >
                </div>
                       
            </div>
    
            </div>
        </div>
    </div>
</section>
{% endblock %}