{% extends 'base.html' %}
{% block title %} Diploma In Multimedia & Animation | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h2 style="text-align: center; color: #008db0;">Diploma In Multimedia & Animation</h2>
                        <!-- </div>
                        
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/dma.jpg' %}" style="width:90%" alt="blog-img" width="600px">
                                
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>This program works as a quick ride to the world of Print & animation Industry. It helps to work on graphics & animation technologies and software; one can dare to create images & animations for print and visual media.</p>
                            <!-- <blockquote style="background-color: rgb(250, 253, 255)"><h3>Career Path:</h3><br>
                                <p><strong>VFX Artist & Editor<br>
                                    2D Animator<br>
                                    3D Modeler & Animator<br>
                                    Graphic Designer</strong></p>
                            </blockquote> -->
                           

                        </div>
                        <div class="container-fluid" >
                          <ul style="list-style-type: none;"  >
                   
                            <h3 style="color: #0c8bcb;">Graphics Suite</h3>
                            <li style="color:black;">Adobe Photoshop</li>
                            <li style="color:black;">Adobe Illustrator</li>
                            <li style="color:black;">CorelDraw</li>
                            <li style="color:black;">Adobe InDesign</li>
                            <li style="color:black;">Adobe PageMaker</li>
                         
                          <br>

                            <h3 style="color: #0c8bcb;">Animation Suite</h3>
                            <li style="color:black;">Concept of animation</li>
                            <li style="color:black;">Concept of animation movie making</li>
                            <li style="color:black;">Principles of animation</li>
                            <li style="color:black;">Introduction to digital animation</li>
                            <li style="color:black;">Pre-production</li>
                            <li style="color:black;">Production</li>
                            <li style="color:black;">Post production</li>
                            <li style="color:black;">2D Animation</li>
                            <li style="color:black;">3D Animation</li>
                            <li style="color:black;">Adobe Animate</li>
                            <li style="color:black;">3Ds Max</li>
                            <li style="color:black;">Autodesk Maya</li>
                            
<BR>
                           
                           
                          </ul>
                            
                          </div>
                    </div>

                  
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                        
                      
                        
                            <!-- <div class="pq-widget-menu widget">
                                <h2 class="widget-title">Career Path</h2></br>
                                <ul style="list-style-type: none; color: #0c8bcb;">
                                        <li><b>Web Designer</b></li>
                                        <li><b>Animate Animator</b></li>
                                        <li><b>Desktop Publisher</b></li>
                                        <li><b>Web Developer </b></li>
                                        <li><b>Layout Designer</b></li>
                                       
                                    </ul>
    
                                    </div> 
                              
                            </div> -->
                            
                        
                            <div>
                                <img src="{% static 'images/dma1.jpg' %}" style="padding-top: 70px;" >
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->

{% endblock %}