{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 style="text-align: center; color: #008db0;">Desktop Publishing</h2>
<!-- </div>
 
</nav>
</div>
</div>
</div>
</div> -->
<!--Breadcrumb End-->

<!--Blog-Single Start-->
<section class="blog-single">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="pq-blog-post">
<div class="pq-post-media">
    <img src="{% static 'images/gtecpayyanur_dtp.jpg' %}" style="width:90%" alt="blog-img">
        
</div>
<div class="pq-blog-contain">
    
    <p>Print media is changed like anything after the invention of media software. Raster, Vector, Lay outing software is used in printing & publishing industry. This course enables the user to create all kinds of print media elements like Advertisements, books, paper ads, lay outs for newspapers & magazines, etc.</p>
    <!-- <blockquote style="background-color: rgb(250, 253, 255)"><h3>Career Path:</h3><br>
        <p><strong>VFX Artist & Editor<br>
            2D Animator<br>
            3D Modeler & Animator<br>
            Graphic Designer</strong></p>
    </blockquote> -->
   

</div>
<div class="container-fluid" >
  <ul style="list-style-type: none;"  >

    <li style="color:black;">Adobe Photoshop</li>
   
    <li style="color:black;">CorelDraw</li>

    <li style="color:black;">Adobe PageMaker</li>            
   
  </ul>
    
  </div>
</div>


</div>
<div class="col-lg-4 mt-4 mt-lg-0">
<div id="secondary" class="sidebar widget-area">

<div class="pq-widget-menu widget">
    <h2 class="widget-title">Career Path</h2>
    <ul style="list-style-type: none; color: #0c8bcb;">
            <li><b>Digital Painter</b></li>
            <li><b>Desktop Publisher</b></li>
            <li><b>Pre-Press Specialist</b></li>

        </ul>

        </div> 
        <br>
        <br>
    </div>
    <div id="categories-2" class="widget widget_categories">
       <img src="{% static 'images/gtecpayyanur_dtp1.jpg' %}">
        
        </ul>
    </div>

   
    
</div>
</div>
</div>
</div>
</section>
<!--Blog-Single End-->
{% endblock %}