{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 style="text-align: center; color: #008db0;">Diploma In Video Editing</h2>
<!-- </div>

</nav>
</div>
</div>
</div>
</div> -->
<!--Breadcrumb End-->

<!--Blog-Single Start-->
<section class="blog-single">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="pq-blog-post">
<div class="pq-post-media">
    <img src="{% static 'images/gtecpayyanur_dva.jpg' %}" width:"90%" alt="blog-img">
        
</div>
<div class="pq-blog-contain">
    
    <p>This program is specialized in audio video editing and post production works, after completing this course one can work on editing compositing software using edit suites and other advanced equipment’s with effective background sounds and music adding dynamic special effects.</p>
    <!-- <blockquote style="background-color: rgb(250, 253, 255)"><h3>Career Path:</h3><br>
        <p><strong>VFX Artist & Editor<br>
            2D Animator<br>
            3D Modeler & Animator<br>
            Graphic Designer</strong></p>
    </blockquote> -->
   

</div>
<div class="container-fluid" style="margin-left: 20px;" >
    <p style="color:black;">Adobe Photoshop<br>
 Adobe Premiere Pro<br>
   Edius<br>
    Adobe After Effects</p>
   
   
   
  </div>
</div>


</div>
<div class="col-lg-4 mt-4 mt-lg-0">
<div id="secondary" class="sidebar widget-area">

<div class="pq-widget-menu widget">
    <h2 class="widget-title">Career Path</h2>
    <ul style="list-style-type: none; color: #0c8bcb;">
            <li><b>Audio,Video Editor</b></li>
          
            
        </ul>

        </div> 
    </div>
    

    <div>
        <img src="{% static 'images/gtecpayyanur_dva1.jpg '%}" style="padding-top: 70px;" >
    </div>
    
</div>
</div>
</div>
</div>
</section>
{% endblock %}