{% extends 'base.html' %}
{% block title %} Graphic & Web Expert | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h2 style="text-align: center; color: #008db0;">Graphic & Web Expert</h2>
<!-- </div>

</nav>
</div>
</div>
</div>
</div> -->
<!--Breadcrumb End-->

<!--Blog-Single Start-->
<section class="blog-single">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="pq-blog-post">
<div class="pq-post-media">
    <img src="{% static 'images/gtecpayyanur_gwe.jpg' %}" alt="blog-img" style="width:90%">
        
</div>
<div class="pq-blog-contain">
    
    <p>The future looks bright for students who opt for a career in Graphic and Web Industry. Lots of G-TEC Students are comfortably placed in various companies through Job fairs and Recruitment drives. In today’s technology driven world, the scope and growth in Print Media and Web Industry is ever increasing. The Job opportunities are increasing in this field. The Graphic and Web expert course from G-TEC gives an upper edge for the students to become highly professional in their approach.</p>
    <!-- <blockquote style="background-color: rgb(250, 253, 255)"><h3>Career Path:</h3><br>
        <p><strong>VFX Artist & Editor<br>
            2D Animator<br>
            3D Modeler & Animator<br>
            Graphic Designer</strong></p>
    </blockquote> -->
   

</div>
<div class="container-fluid" >
  <ul style="list-style-type: none;"  >
    <h3 style="color: #0c8bcb;">Graphics Suite</h3><br>
    <li style="color:black;">Adobe Photoshop,Adobe Illustrator,CorelDraw</li>
    <li style="color:black;">Adobe InDesign,Adobe PageMaker,Adobe Animate,Adobe Dreamweaver</li>
  
   
  </ul>
    
  </div>
</div>


</div>
<div class="col-lg-4 mt-4 mt-lg-0">
<div id="secondary" class="sidebar widget-area">

<div class="pq-widget-menu widget">
    <h2 class="widget-title">Career Path</h2>
    <ul style="list-style-type: none; color: #0c8bcb;">
            <li><b>Graphic Designer</b></li>
            <li><b>Photo Studio Proffesionals</b></li>
            <li><b>Desktop Publisher</b></li>
            <li><b>Web Designer </b></li>
         
           
        </ul>

        </div> 
    </div>
    

    <div>
        <img src="{% static 'images/gtecpayyanur_gwe1.jpg' %}" style="padding-top: 70px;" >
    </div>
    
</div>
</div>
</div>
</div>
</section>
{% endblock %}