{% extends 'base.html' %}
{% block title %} Master Diploma In Digital Animation | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

<h2 style="text-align: center;">Masters Diploma In Digital Animation</h2>

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/mdda.jpg' %}" alt="blog-img">
                                
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>The Master Animation program provides a balance of creative and technical skills necessary for success in animation production. Students will gain a strong foundation in both traditional and computer-based forms of animation while developing their appreciation of the history from which the medium has gained its recognition. Students will engage in a complementary set of courses designed to teach necessary skills and to provide a venue for further development of skill sets within a creative production environment.</p>
                          
                           

                        </div>
                        <div class="container-fluid" >
                            <h4 style="color: #008bd0;">Graphic Design</h4>
                            <p style="color:black;">Adobe Photoshop,Adobe in Design,Adobe Illustrator,CorelDraw,Adobe Light room</p>
                            
                            <h4 style="color: #008bd0;">2D 3D & VFX Production</h4>
                            <p style="color:black;">Theory,Concept of Animation,Animation movie making,Principles of Animation, <br>Introduction to digital animation,Pre-Production,Production,Post Production</p>
                          
                            <h4 style="color: #008bd0;">2D Ultimate</h4>
                            <p style="color:black;">Adobe Animate ,Adobe Character Animator</p>
                           
                            <h4 style="color: #008bd0;">3D Ultimate</h4>
                            <p style="color:black;">Autodesk 3ds Max,Blender</p>
                       
                            <h4 style="color: #008bd0;">VFX Ultimate</h4>
                            <p style="color:black;">Nuke,Adobe After Effects</p>
                            <h4 style="color: #008bd0;">Digital compositing & Editing (Post-production)
                            </h4><p style="color:black;">Adobe Premiere Pro,Adobe audition</p>
                           
                          </div>
                    </div>

                  
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Career Opportunities</h2>
                        <ul>
                            <li>
                                <a href="#">VFX Artist & Editor</a>
                            </li>
                            <li>
                                <a href="#">2D Animator</a>
                            </li>
                            <li>
                                <a href="#">3D Modeler & Animator</a>
                            </li>

                            <li>
                                <a href="#">Graphic Designer</a>
                            </li>
                        </ul>
                    </div> <div id="categories-2" class="widget widget_categories">
                        <img src="{% static 'images/mulmedia.jpg' %}" >
                    </div>
                           
                </div>
        
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->

{% endblock %}