{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 style="text-align: center;">Masters Diploma in Multimedia and Animation</h2>
                        <!-- </div>
                        
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/gtecpayyanur_mul.jpg' %}" alt="blog-img">
                                
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>The Master Animation program provides a balance of creative and technical skills necessary for success in animation production. Students will gain a strong foundation in both traditional and computer-based forms of animation while developing their appreciation of the history from which the medium has gained its recognition. Students will engage in a complementary set of courses designed to teach necessary skills and to provide a venue for further development of skill sets within a creative production environment.</p>
                            <h5 style="color: #0c8bcb;">GRAPHIC DESIGN</h5>
                            <P style="color:black;">Adobe Photoshop,Adobe InDeign,Adobe Illustrator,CorelDraw,Adobe Light room</P>
        
                            <h5 style="color: #0c8bcb;">2D 3D & VFX Production</h5>
                            <br>
                            <h6 style="color: #0c8bcb;">2D Ultimate</h6>
                            <p style="color:black;">Adobe Character Animator,Adobe Animate</p>
                            <h6 style="color: #0c8bcb;">3D Ultimate</h6>
                            <p style="color:black;">Autodesk 3d Max,Blender</p>
                            <h6 style="color: #0c8bcb;">VFX Ultimate</h6>
                            <p style="color:black;">Adobe Alter Effect, Nuke</p>
        
                            <h5 style="color: #0c8bcb;">Digital compositing & Editing (Post-production)</h5>
                            <p style="color:black;">Adobe Premiere Pro,Adobe Audition</p>
                        </div>
                    </div>

                </div>

  <div class="col-lg-4 mt-4 mt-lg-0">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Career Opportunities</h2>
                        <ul>
                            <li>
                                <a href="#">VFX Artist & Editor</a>
                            </li>
                            <li>
                                <a href="#">2D Animator</a>
                            </li>
                            <li>
                                <a href="#">3D Modeler & Animator</a>
                            </li>

                            <li>
                                <a href="#">Graphic Designer</a>
                            </li>
                        </ul>
                    </div> <div id="categories-2" class="widget widget_categories">
                        <img src="{% static 'images/gtecpayyanur_multi123.jpg' %}" >
                    </div>
                           
                </div>
            
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}