{% extends 'base.html' %}
{% block title %} Motion Graphics | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h2 style="text-align: center; color: #008db0;">Motion Graphics</h2>
                 

<!--Blog-Single Start-->
<section class="blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="pq-blog-post">
                    <div class="pq-post-media">
                        <img src="{% static 'images/mu.gif' %}" alt="blog-img">
                            
                    </div>
                    <div class="pq-blog-contain">
                        <br>
                        <p>Learn the art of storytelling with digital designs and animations. A class apart from its peers, Motion Graphics Artist is a state of art program to equip a candidate to touch stone his aptitude in creative visualization and on-the-floor experience in Multi National Projects of International standards with actual Project leads scaffolding their career growth. With 12 months paid internship and hands-on real-time projects, the course is the ultimate gateway for an aspiring candidate to explore into the alluring world of multimedia industry.</p>
                       
                       <br>
                       <br>
                       <br>

                    </div>
                    
                </div>

              
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                             
                    
                <div id="categories-2" class="widget widget_categories">
                    <h2 class="widget-title">Career Opportunities</h2>
                    <ul>
                        <li>
                            <a href="#">Motion graphics designer</a>
                        </li>
                        <li>
                            <a href="#">Video editor</a>
                        </li>
                        <li>
                            <a href="#">Visual effects artist</a>
                        </li>

                        <li>
                            <a href="#">Graphic Designer</a>
                        </li>
                    </ul>
                </div> <div id="categories-2" class="widget widget_categories">
                    <h2 class="widget-title">Software</h2>
                    <ul>
                        <li>
                            <a href="#">Photoshop</a>
                        </li>
                        <li>
                            <a href="#">Illustrator</a>
                        </li>
                        <li>
                            <a href="#">After effects</a>
                        </li>

                        <li>
                            <a href="#">Davinci resolve</a>
                        </li>
                        <li>
                            <a href="#">Blender</a>
                        </li>
                    </ul>
                   
            </div> <div id="categories-2" class="widget widget_categories">
                <img src="{% static 'images/motion.png' %}" >
            </div>
            </div>
           
            </div>
        </div>
    </div>
</section>
<!--Blog-Single End-->
{% endblock %}