{% extends 'base.html' %}
{% block title %} AUTOCAD AND 3DS MAX | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h3 style="text-align: center; color: #008db0;">AUTOCAD AND 3DS MAX</h3>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">The software of the professional choice in 2D drafting & detailing and in 3D modeling. AutoCAD and 3ds MAX delivers the speed, power, and flexibility needed to take their documentation and design further.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/A3DS.jpg' %}" alt="blog-img" style="height:224px">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
            <div id="accordion">
                
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;AutoCAD 2D

                      </a>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;AutoCAD 3D


                          </a>
                        </div>
                       
                        </div>
                 
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;3DS MAX

                          </a>
                        </div>
                       
                        </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse12">
                                <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                              </a>
                            </div>
                            <div id="collapse12" class="collapse" data-bs-parent="#accordion">
                              <div class="card-body">
                                  <ul>
                                   <li>AutoCAD</li>
                                   <li>BG Modeling</li>
                                   <li>3D Animation</li>
                                   <li>2D Animation</li>
                                   <li>Texturing</li>
                                   <li>Lighting</li>
                                   <li>Effects Specialization</li>
                                      
                                             </ul>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse13">
                                <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                              </a>
                            </div>
                            <div id="collapse13" class="collapse" data-bs-parent="#accordion">
                              <div class="card-body">
                                  <ul>
                                    <li>CAD Engineer</li>
                                    <li>AutoCAD draughtsman</li>
                                    <li>Piping draughtsman</li>
                                    <li>BG Modeler</li>
                                    <li>3D Animator</li>
                                    <li>2D Animator</li>
                                    <li> Texturing Artist</li>
                                    <li>Lighting Artist</li>
                                      
                                             </ul>
                              </div>
                            </div>
                          </div>
                          <div><br>
                            <h5> CERTIFICATE</h5>
                        
        ★ AutoCAD and 3DS Max - G-TEC Certificate
                           
        
                          </div>
                </div>
               
                   
            </div>
        
        </div>
    </section>
  {% endblock %}