{% extends 'base.html' %}
{% block title %} AUTOCAD | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h3 style="text-align: center; color: #008db0;">AUTOCAD</h3>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">Beside the contained modules, the course is introducing the following objectives to the students:

                                Philosophy of the AutoCAD Self-Paced Learning Modules.
                                Introduce students to the AutoCAD Software Requirements.
                                Introduce students to start using the AutoCAD Modules.
                                Lab Exercises and Competency Tests</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/ADID.jpg' %}" alt="blog-img" style="height:224px">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
            <div id="accordion">
                
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Introduction to Engineering Drawings

                      </a>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Introduction to AutoCAD


                          </a>
                        </div>
                       
                        </div>
                 
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;File Management


                          </a>
                        </div>
                       
                        </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Drawing & Drafting settings

    
                              </a>
                            </div>
                           
                            </div>
                            <div class="card">
                                <div class="card-header">
                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Drawing Tools

        
                                  </a>
                                </div>
                               
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Modify Tools

            
                                      </a>
                                    </div>
                                   
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Display Control
           
                                          </a>
                                        </div>
                                       
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Object Properties
               
                                              </a>
                                            </div>
                                           
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Layer Management
                   
                                                  </a>
                                                </div>
                                               
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Annotation Tools
                            
                                                      </a>
                                                    </div>
                                                   
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Hatching Objects
                            
                                                          </a>
                                                        </div>
                                                       
                                                        </div>
                                                        <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Object Selection Methods


                          </a>
                        </div>
                       
                        </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Parametric Modeling


                              </a>
                            </div>
                           
                            </div>
                            <div class="card">
                                <div class="card-header">
                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Isometric View Drawings

    
                                  </a>
                                </div>
                               
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;external references

        
                                      </a>
                                    </div>
                                   
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Layout plot and publish

            
                                          </a>
                                        </div>
                                       
                                        </div>

                                        <div class="card">
                                          <div class="card-header">
                                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse12">
                                              <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                                            </a>
                                          </div>
                                          <div id="collapse12" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <ul>
                                                  <li>AutoCAD</li>
                                                  <li>BG Modeling</li>
                                                  <li>3D Animation</li>
                                                  <li>2D Animation</li>
                                                  <li>Texturing</li>
                                                  <li>Lighting</li>
                                                  <li>Effects Specialization</li>
                                               
                                                    
                                                </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header">
                                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse13">
                                              <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                                            </a>
                                          </div>
                                          <div id="collapse13" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <ul>
                                                  <li>CAD Engineer</li>
                                                  <li>AutoCAD draughtsman</li>
                                                  <li>Piping draughtsman</li>
                                                  <li>BG Modeler</li>
                                                  <li>3D Animator</li>
                                                  <li>2D Animator</li>
                                                  <li> Texturing Artist</li>
                                                  <li>Lighting Artist</li>
                                                    
                                                </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div><br>
                                          <h5> CERTIFICATE</h5>
                                      
                      ★  AutoCAD and 3DS Max - G-TEC Certificate
                                         
                      
                                        </div>
                              </div>
                              
                
    </section>
  {% endblock %}