{% extends 'base.html' %}
{% block title %} Advanced Diploma In Interior Designing | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;">Advanced Diploma In Interior Designing</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/gtecpayyanur_ca.jpg' %}" width="90%" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>It Provides quality and skills needed to become an interior designer. Gives a balanced inside view of the interior design career today.</p>
                           
                            {% comment %} <h2 class="pq-blog-single-title" style="color:#008db0">Front-End Development</h2> {% endcomment %}
                            {% comment %} <p  style="color:black">Adobe Photoshop,Adobe Dreamweaver,HTML,CSS,Javascript, JSON and Jquery</p> {% endcomment %}
                            <div class="pq-blog-single-info">
                               
                                <h2  class="pq-blog-single-title"  style="color:#008db0">Building Design</h2>
                                <ul>
                                    <li style="color:black;">Basic Computer Aided 2D Drawing</li>
                                    <li style="color:black;">Arts and Crafts</li>
                
                                    <li style="color:black;">Image editing and material creation with Photoshop</li>
                                    <li style="color:black;">Building Plan and Elevation in AutoCAD</li>
                                    <li style="color:black;">Creating Building models in 3Ds Max</li>
                                    <li style="color:black;">Furniture designing,cost estimation</li>
                                    <li style="color:black;">Create a basic floor plan</li>
                                    <li style="color:black;">Create and modifying levels</li>
                                    <li style="color:black;">Create and modifying 3D views</li>
                                    <li style="color:black;">PPM concepts,Revit Architecture,Google sketchUp</li>
                                    <li style="color:black;">OBS,EPS</li>
                                </ul>   
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Career Opportunities</h2>
                            <ul>
                                <li>
                                    2D Draughtsman - Building designer
                                </li>
                                <li>
                                    3D Visualizer - Interior designer
                                </li>
                                <li>
                                    Project architect - Architectural Drafter
                                </li>
                                <li>
                                    Architectural visualizer
                                </li>
                               
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Technical Skills</h2>
                            <ul>
    
                                <li>Interior designing - Interior lighting</li>
                                <li>2D building drawing - Services like Electricity,Plumbing and Sewerage</li>
                                <li>Digital 3D modeling</li>
                                <li>Project Management</li>
                                
                                
                            </ul>
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <img src="{% static 'images/architecture-building-construction-design-wallpaper-preview.jpg' %}">
                        </div>
                        {% comment %} <div id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">Using Languages</h2>
                            <ul style="list-style-type:square">
                                
                                <li>Python</li>
                                
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}