
{% extends 'base.html' %}
{% block title %} Architectural Visualization| G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;">Architectural Visualization</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">Architectural visualization has quickly become an invaluable tool for the many outfits that make up the architectural and building industry. The unique skillset of a visualization artist is now regularly required by architects, interior designers, engineers, developers, builders, landscape designers, and real estate professionals to help showcase their work to potential clients. </p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/AV.jpg' %}" alt="blog-img" style="height:224px">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Concept of 3D Modeling


                    </a>
                  </div>
                 
                  </div>
               
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Standard primitives
                      </a>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Extended primitives

                          </a>
                        </div>
                       
                        </div>
                 
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Customizing the units

                          </a>
                        </div>
                       
                        </div>
                
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Basics of modeling

 
                          </a>
                        </div>
                       
                        </div>
                   
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Simple set modeling- Furniture 
 
                          </a>
                        </div>
                    </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Advanced set modeling-buildings
                           
                              </a>
                            </div>
                        </div>
                            <div class="card">
                                <div class="card-header">
                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Materials and Maps
         
                                  </a>
                                </div>
                            </div>

                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Basics of texturing
      
             
                                      </a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Environment effects
      
             
                                      </a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Basics of Animation
      
             
                                      </a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Reactors
      
             
                                      </a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Camera walks through
      
             
                                      </a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Landscaping

      
             
                                      </a>
                                    </div>
                                </div>
                      
                   
                                <h5> CERTIFICATE</h5>
                                      
                                ★  Architectural Visualization - Gtec Certificate
                                                   
                                
                                               
            </div>
        
        </div>
    </section>
  {% endblock %}