{% extends 'base.html' %}
{% block title %} CADD Courses | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}


<section class="banner_main">
    <div class="container-fluid">
       <div class="row d_flex">
          
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                

<section class="all-services" style="max-width: 100%; overflow-x: auto;">
    <div class="container">
        <div class="row" style="margin-left: 10px; margin-right: 10px;">
            <div class="col-xl-4 col-lg-4" style="max-width: 100%; flex: 0 0 100%; padding: 0;">
                <div class="pq-widget" style="max-width: 100%; width: 100%; overflow: auto;">
                    <div class="pq-widget pq-widget-port p-0">
                        <div class="menu-service-menu-container">
                            <h3 style="font-size: 1.5rem;">Certified Courses</h3><br>
                            <ul id="menu-service-menu" class="menu">
                                <li>
                                    <a href="caad/AV" aria-current="page">Architectural Visualization (AV)</a>
                                </li>

                                <li>
                                    <a href="caad/AC" aria-current="page">AUTOCAD</a>
                                </li>

                                <li>
                                    <a href="caad/Lumion" aria-current="page">Lumion</a>
                                </li>

                                <li>
                                    <a href="caad/Sketchup" aria-current="page">SketchUp</a>
                                </li>

                                <li>
                                    <a href="caad/Revit" aria-current="page">Revit</a>
                                </li>
                               
                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
             </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <img src="{% static 'images/ed.jpg' %}" alt="" class="img-fluid d-block mx-auto" style="height:500px;margin-top:60px;margin-left:50px;">
             </div>
          </div>
       </div>
    </div>
 </section>
    </div>
</section>

<section class="banner_main" style="padding-top:1px;">
    <div class="container-fluid">
       <div class="row d_flex">
          
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <img src="{% static 'images/ed.jpg' %}" alt=""  class="img-fluid d-block mx-auto"style="height:340px;padding-left:100px;width:100%;padding-right:100px; margin-top:65px;">
             </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <section class="all-services" style="max-width: 100%; overflow-x: auto;">
                    <div class="container">
                        <div class="row" style="margin-left: 10px; margin-right: 10px;">
                            <div class="col-xl-4 col-lg-4" style="max-width: 100%; flex: 0 0 100%; padding: 0;">
                                <div class="pq-widget" style="max-width: 100%; width: 100%; overflow: auto;">
                                    <div class="pq-widget pq-widget-port p-0">
                                        <div class="menu-service-menu-container">
                                            <h3 style="font-size: 1.5rem;">Diploma Courses</h3><br>
                                            <ul id="menu-service-menu" class="menu">
                                                <li>
                                                    <a href="caad/A3DS" aria-current="page">AUTOCAD AND 3DS MAX</a>
                                                </li>
                
                                                <li>
                                                    <a href="caad/adba" aria-current="page">Advanced Diploma In Building Design and Animation </a>
                                                </li>
                                                <li>
                                                    <a href="caad/adba" aria-current="page">Advanced Diploma In Interior Designing </a>
                                                </li>
                                                
                                            </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                    </div>
        </div>
    </section>
             </div>
          </div>
       </div>
    </div>
 </section>
 

    {% endblock %}
