{% extends 'base.html' %}
{% block title %} Sketchup | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;">Sketchup</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">Thos who want to learn multi-purpose, easy to grasp, and one of the world’s most popular CAD applications that provides designing solutions to all industries such as mechanical, architectural, andcivil then SketchUp would be the right software to learn for you. Sketchup is a 3D modeling program that can be used to create 3D objects in a 2D environment. Whether you plan to model for 3D printing or for other purposes, Sketchup offers all the tools needed to produce professional and quality results even for a beginner</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/SKETCHUP.jpg' %}" alt="blog-img" style="height:224px">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Introduction to sketchup

                    </a>
                  </div>
                 
                  </div>
               
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Getting to know the interface
                      </a>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Manipulating the objects

                          </a>
                        </div>
                       
                        </div>
                 
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Drawing

                          </a>
                        </div>
                       
                        </div>
                
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Measuring and labelling

 
                          </a>
                        </div>
                       
                        </div>
                   
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Working with components 
 
                          </a>
                        </div>
                    </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Organising scenes
                           
                              </a>
                            </div>
                        </div>
                            <div class="card">
                                <div class="card-header">
                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Creating textures and materials
         
                                  </a>
                                </div>
                            </div>

                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Creating terrain using sandbox
      
             
                                      </a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Using photo match and Google earth
      
             
                                      </a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Working with the solid tools
      
             
                                      </a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Importing and exporting
      
             
                                      </a>
                                    </div>
                                </div>
                                <h5> CERTIFICATE</h5>
                                      
                                ★  SketchUp - Gtec Certificate
                                                   
                   
            </div>
        
        </div>
    </section>
  {% endblock %}
  