{% extends 'base.html' %}
{% block title %} DIFA | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h1 style="text-align: center; color: #008db0;">Diploma In Indian & Foreign Accounting</h1>
                   

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">A Diploma program to make you an expert in manual and computerized accounting. The course strides through the very computer basics, MS Office and then leads to Manual accounting, Computerized accounting and ends with E-Accounting concepts</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/difa.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;COMPUTER BASICS, IT BASICS, WINDOWS
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                         <li>Hardware & Software</li>
                         <li>Basic Applications of Computer</li>
                         <li>Components of a Computer System</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;FUNDAMENTAL OF OPERATING SYSTEM WINDOWS 
                    </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Introduction To Windows</li>
                              <li>Operating Windows</li>
                              <li>Desktop Management</li>
                              <li>Files & Folders</li>
                              <li>Basic Components of Windows</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;MS OFFICE
                    </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Get Started With Microsoft Word</li>
                              <li>Working With Graphics And Tables</li>
                              <li>Designing And Reviewing A Word Document</li>
                              <li>Working With Mail Merge</li>
                              <li>Get Started With Microsoft Excel</li>
                              <li>Working With Data</li>
                              <li>Working With Formulas And Functions</li>
                              <li>Working With Pivot Table</li>
                              <li>Get Started With Microsoft Powerpoint</li>
                              <li>Enhancing Powerpoint Presentation</li>
                              <li>Building Dynamic Powerpoint Presentation</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;BASIC ACCOUNTING (MANUAL ACCOUNTING) 
                    </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Basic Accounting Concepts</li>
                              <li>Basic Terms And Rules Of Accounting</li>
                              <li>Method Of Accounting</li>
                              <li>Type Of Accounting</li>
                              <li>Rule Of Accounting</li>
                              <li>Prepare Primary Books (Journal)</li>
                              <li>Ledger Posting</li>
                              <li>Income Statement & Financial Accounting (Balance Sheet)</li>
                              <li>Adjustment Entries</li>
                              
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;TALLY PRIME
                    </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li style="font-weight:bold;">Level 1</li>
                            <li>Introduction to Tally Prime</li>
                            <li>Features of Tally Prime
                                <ul style="list-style-type:circle">
                                    <li>Downloading and Installation of Tally Prime</li>
                                    <li>Types of Licenses in Tally Prime</li>
                                    <li>Activate New License</li>
                                    <li>Reactivate License in Tally Prime</li>
                                    <li>Use License from Network in a Multiuser Environment</li>
                                </ul>
                            </li>
                            <li>Working Tally Prime in Educational Mode
                                <ul style="list-style-type:circle">
                                    <li>Company Creation and Setting up Company Features in Tally Prime</li>
                                    <li>Getting Started with Tally Prime</li>
                                    <li>Navigating from Anywhere to Anywhere in Tally Prime</li>
                                    <li>F12 Configuration in Tally Prime</li>
                                    <li>Alter Company Details</li>
                                    <li>Shut the Company</li>
                                </ul>
                            </li>
                            <li>Maintaining Chart of Accounts
                                <ul style="list-style-type:circle">
                                    <li>Introduction to Chart of Accounts</li>
                                    <li>Creation, Alteration & Deletion of Masters in Tally Prime (Both Accounting & Inventory)</li>
                                    <li>Multi-Masters Creation and Display</li>
                                </ul>
                            </li>
                            <li>Recording and Maintaining Accounting Transactions
                                <ul style="list-style-type:circle">
                                    <li>Recording Transactions in Tally</li>
                                    <li>Accounting Vouchers in Tally Prime</li>
                                    <li>Recording Accounting Vouchers in Tally Prime (Receipt, Payment, Contra, Journal, Purchase, Sales, Debit Note and Credit Note)</li>
                                </ul>
                            </li>
                            <li>Banking
                                <ul style="list-style-type:circle">
                                    <li>Banking Payments</li>
                                    <li>Cheque Printing (Both Single & Multiple Cheque Printing)</li>
                                    <li>Deposit Slip (Cheque/Cash)</li>
                                    <li>Payment Advice</li>
                                    <li>Bank Reconciliation (Auto/Manual)</li>
                                </ul>
                            </li>
                            <li>Generating Financial Statements and MIS Reports
                                <ul style="list-style-type:circle">
                                    <li>Final Accounts Reports in TallyPrime (Introduction)</li>
                                    <li>Generating Financial Reports in TallyPrime. (Trial Balance, Profit and Loss Account, Balance Sheet, Cash Flow & Fund, Flow Analysis Report, Receipts and Payments)</li>
                                    <li>MIS Reports in Tally (Stock Summary Analysis, Daybook, Cash and Bank Book, Purchase Register, Sales Register, Journal Register)</li>
                                </ul>
                            </li>
                            <li>Data Security
                                <ul style="list-style-type:circle">
                                    <li>Introduction</li>
                                    <li>Security Control</li>
                                    <li>Activation of Security Control</li>
                                    <li>Creation of Security Levels (User Roles)</li>
                                    <li>Creation of Users and Passwords for Company</li>
                                    <li>Accessing the company using Security Levels</li>
                                    <li>Auto Login</li>
                                    <li>Tally Vault</li>
                                </ul>
                            </li>
                            <li>Company Data Management
                                <ul style="list-style-type:circle">
                                    <li>Backup & Restoring of Company Data</li>
                                    <li>Company Data Repair</li>
                                    <li>Migration of Tally.ERP 9 Company Data to TallyPrimepanies</li>
                                </ul>
                            </li>
                            <li style="font-weight:bold;">Level 2</li>
                            <li>Storage And Classification Of Inventory
                                <ul style="list-style-type:circle">
                                    <li>Introduction To Supply Chain</li>
                                    <li>Types Of Suppliers</li>
                                    <li>Inventory Management</li>
                                    <li>Terms Used In Inventory Management (Theory Part)</li>
                                    <li>Inventory Masters In Tally Prime</li>
                                    <li>Creation Of Inventory Masters In Tally Prime</li>
                                    <li>Tracking Of Movements Of Goods In Batches/Lots</li>
                                    <li>Activation Of Batches/Lots For Stock Items</li>
                                    <li>Allocation Of Batch/Lots Details In Purchase Invoice</li>
                                    <li>Selling Of Stock Items From Batch/Lots</li>
                                    <li>Identifying The Expired Batch In Sales Invoice</li>
                                    <li>Returning Of Expired Batch Stock Items</li>
                                    <li>Batch Reports</li>
                                    <li>Price Levels And Price Lists
                                        <ul style="list-style-type:square">
                                            <li>Activating Price Lists And Defining Of Price Levels</li>
                                            <li>Creation Of Price List</li>
                                            <li>Price Level &Price List Usage In Saks Voucher</li>
                                            <li>Revise Price List</li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                            <li>Accounts Receivable And Payable Management
                                <ul style="list-style-type:circle">
                                    <li>Accounts Payable And Receivable</li>
                                    <li>Maintain Bill-Wise Entry</li>
                                    <li>Activation Of Bill-Wise Entry</li>
                                    <li>Specifying Of Credit Limit For Parties (For Individual & Multiple Ledger)</li>
                                    <li>Sales Voucher Restriction Based On Credit Limit</li>
                                    <li>Splitting Of Credit Sale Into Multiple Bills</li>
                                    <li>Payment Performance Of Debtors</li>
                                    <li>Bills Payable And Receivable Reports In Tally Prime
                                        <ul style="list-style-type:square">
                                            <li>Bills Receivable</li>
                                            <li>Ageing Analysis Of Outstanding</li>
                                            <li>Generating Reminder Letter In Tally Prime</li>
                                            <li>Generating Confirmation Of Accounts In Tally Prime</li>
                                            <li>Bills Settlement</li>
                                            <li>Bills Payables</li>
                                            
                                        </ul>
                                    </li>
                                    
                            </li>
                            <li>Purchase And Sales Order Management
                                Purchase Order Processing
                                <ul style="list-style-type:circle">
                                    <li>Recording Purchase Order</li>
                                    <li>Recording Receipt Note</li>
                                    <li>Recording Rejection Out</li>
                                    <li>Recording Purchase</li>
                                    <li>Recording Debit Note</li>
                                    <li>Recording Payment</li>
                                </ul>
                            </li>   
                            <li>Sales Order Processing
                                <ul style="list-style-type:circle">
                                    <li>Recording Sales Order</li>
                                    <li>Recording Quotation</li>
                                    <li>Recording Delivery Note</li>
                                    <li>Recording Rejection In</li>
                                    <li>Recording Sales</li>
                                    <li>Recording Receipt</li>
                                </ul>
                            </li> 
                            <li>Order Outstanding
                                <ul style="list-style-type:circle">
                                    <li>Purchase Order Outstanding</li>
                                    <li>Sales Order Outstanding</li>
                                    <li>Pre-Closure Of Orders</li>
                                    
                                </ul>
                            </li>   
                            <li>Reorder Level
                                <ul style="list-style-type:circle">
                                    <li>Display Reorder Status</li>
                                    <li>Godown Transfer In Tally Prime</li>
                                    <li>Tracking Additional Costs Of Purchase</li>
                                    <li>Configuration Of Additional Cost Of Purchases In Tally Prime</li>
                                    <li>Cost/Profit Centres Management</li>
                                    <li>Cost Centre And Cost Categories</li>
                                    <li>Allocation Of Expenses To Multiple Cost Centres And Cost </li>
                                    <li>Categories</li>
                                    <li>Cost Centre Reports</li>
                                </ul>
                            </li>    
                            <li>Budgets And Scenarios
                                <ul style="list-style-type:circle">
                                    <li>Introduction</li>
                                    <li>Creation Of Budget</li>
                                    <li>Recording Transactions</li>
                                    <li>Display Budget And Variance Report For Group Budget</li>
                                    <li>Scenario Management</li>
                                    
                                </ul>
                            </li>      
                            <li>Generating & Printing Reports
                                <ul style="list-style-type:circle">
                                    <li>Introduction To Reporting Information</li>
                                    <li>On The Fly Reporting</li>
                                    <li>Inventory Report (Stock Summary, Godown Wise Stock Availability, Moving
                                        Analysis, Stock Query)
                                        </li>
                                    <li>Financial Report (Profit/Loss Account And Balance Sheet)</li>
                                    <li>Books And Reports (Purchase & Sales Register)</li>
                                    <li>Printing Of Invoice And Report</li>
                                   
                                </ul>
                            </li> 
                            <li style="font-weight:bold;">Level 3</li>
                            <li>Goods And Service Tax
                                Introduction To Gst                                                              
                                <ul style="list-style-type:circle">
                                    <li>Gst Registration</li>
                                    <li>Gst Tax Structure</li>
                                    <li>Manage Hsn/Sac Code</li>
                                    <li>Determination Of Tax</li>
                                    <li>Supply Of Goods And Services</li>
                                    <li>Invoicing</li>
                                    <li>Input Tax Credit</li>
                                    
                                </ul>
                            </li>
                            <li>E-Way Bill
                                <ul style="list-style-type:circle">
                                    <li>Of E-Way Bill</li>
                                    <li>Who Must Generate E-Way Bill</li>
                                    <li>Validity Of E-Way Bill</li>
                                    <li>E-Way Bill Process Flow</li>
                                    
                            </li>
                            <li>Gst E-Invoicing
                                <ul style="list-style-type:circle">
                                    <li>Benefits Of E-Invoicing The Business</li>
                                    <li>Date Of Implementing Gst E-Invoicing</li>
                                    <li>Entities Exempted For E-Invoices</li>
                                    <li>Generating E-Way Bill With E-Invoice</li>
                                    <li>Modification Of E-Invoice</li>
                                    <li>Role Of E-Invoice In Gst Returns</li>
                                    <li>Various Mode Of Generating E-Invoice</li>
                                    <li>Role Of Irp In E-Invoice</li>
                                    <li>The Practice Of Generating Gst E-Invoice</li>
                                    <li>E-Invoice Details</li>
                                    <li> Invoice Reference Number (Irn)</li>
                                </ul>
                            </li>   
                            <li>Gst In Tally Prime
                                <ul style="list-style-type:circle">
                                    <li>Creation Of Company And Activating Gst</li>
                                    <li>Introducing Capital Into The Business</li>
                                    <li>Creation Of Masters In Tally Prime</li>
                                    
                                </ul>
                            </li> 
                            <li>Hierarchy Of Calculating Tax In Transactions
                                <ul style="list-style-type:circle">
                                    <li>Defining Gst Rates At Company Level, Stock Group Level, Stock Item Level,
                                        Accounting Group Level, Ledger Level And Transaction Level
                                        </li>
                                    
                                    
                                </ul>
                            </li>   
                            <li>Recording Gst Compliant Transactions
                                <ul style="list-style-type:circle">
                                    <li>Intrastate Supply Of Goods & Services</li>
                                    <li>Interstate Supply Of Goods & Services</li>
                                    <li>Purchase And Sales Returns Of Goods With Gst</li>
                                    <li>Supplies Inclusive Of Tax</li>
                                    
                                </ul>
                            </li>    
                            <li>E-Way Bill Report In Tally
                                <ul style="list-style-type:circle">
                                    <li>Export For E-Way Bill Report</li>
                                    <li>Exporting Bulk Or Consolidated C-Way Bill I N Voices</li>
                                    <li>Update E-Way Bill Information</li>
                                </ul>
                            </li>      
                            <li>Input Tax Credit Set Off Against Liability
                                <ul style="list-style-type:circle">
                                    <li>Adjusting Input Tax Credit Against Tax Liability</li>
                                    
                                </ul>
                            </li>    
                            <li>E-Way Bill Report In Tally
                                <ul style="list-style-type:circle">
                                    <li>Export For E-Way Bill Report</li>
                                    <li>Exporting Bulk Or Consolidated C-Way Bill I N Voices</li>
                                    <li>Update E-Way Bill Information</li>
                                </ul>
                            </li>      
                            <li>Input Tax Credit Set Off Against Liability
                                <ul style="list-style-type:circle">
                                    <li>Adjusting Input Tax Credit Against Tax Liability</li>
                                    
                                </ul>
                            </li>    
                            <li>E-Way Bill Report In Tally
                                <ul style="list-style-type:circle">
                                    <li>Export For E-Way Bill Report</li>
                                    <li>Exporting Bulk Or Consolidated C-Way Bill I N Voices</li>
                                    <li>Update E-Way Bill Information</li>
                                </ul>
                            </li>      
                            <li>Input Tax Credit Set Off Against Liability
                                <ul style="list-style-type:circle">
                                    <li>Adjusting Input Tax Credit Against Tax Liability</li>
                                    
                                </ul>
                            </li>    
                            <li>E-Way Bill Report In Tally
                                <ul style="list-style-type:circle">
                                    <li>Export For E-Way Bill Report</li>
                                    <li>Exporting Bulk Or Consolidated C-Way Bill I N Voices</li>
                                    <li>Update E-Way Bill Information</li>
                                </ul>
                            </li>      
                            <li>Input Tax Credit Set Off Against Liability
                                <ul style="list-style-type:circle">
                                    <li>Adjusting Input Tax Credit Against Tax Liability</li>
                                    
                                </ul>
                            </li>    
                            <li>Gst Tax Payment
                                <ul style="list-style-type:circle">
                                    <li>Timeline For Payment T Of Gst Tax
                                                                    </li>
                                    <li>Modes Of Payment</li>
                                    <li>Challan Reconciliation</li>
                                </ul>
                            </li>      
                            <li>Generating Gst Returns For Regular Dealer In Tally
                                <ul style="list-style-type:circle">
                                    <li>Gstr-1   </li>
                                        <li>Gstr-3b   </li>
                                        <li>Gstr-9 -Gst Annual Computation
                                        </li>
                                    
                                </ul>
                            </li>    
                            <li>Filing Gst Returns In Tally
                                <ul style="list-style-type:circle">
                                    <li>Filing Gstr-1 Returns
                                        </li>
                                    <li>Filing Gstr-3b Returns</li>
                                    <li>Filing Gstr-9 -Gst Annual Computation Returns.</li>
                                </ul>
                            </li>      
                            <li>Generating E-Invoice In Tally Prime
                                <ul style="list-style-type:circle">
                                    <li>Recording Outward Supply And Generating E-Invoice Without C-\’\Lay Bill</li>
                                        <li>Recording Outward Supply And Generating E- Invoice With E-Way Bill</li>
                                       <li> E-Invoice Report
                                        </li>
                        
                                </ul>
                            </li>  
                            <li>Quarterly Return Monthly Payment Scheme</li>
                            <li>Composition Dealer Under Gst Regime</li>
                        <li>Tax Deducted At Source (Tds)</li>
                        <li>Introduction</li>
                        <li>Configuration Of Tds At Different Levels</li>
                         <li> Recording Tds Compliant Transactions In Tallyprime</li>
                        <li> Tds Exceptions</li>
                     <li>   Tds Payment To Department</li>
                    <li> Tds Report</li>
                       <li> Management Of Business Data</li>
                        <li> Export And Import Of Data</li>
                        <li> Open Database Connectivity (Odbc)</li>
                            <li>Printing Of Company Logo On Vouchers, Invoices & Reports</li>
                            <li> Moving To The Next Financial Year</li>
                        </ul>                                       
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;QuickBooks
                    </a>
                    </div>
                    <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Introduction of Foreign Accounting and its concept</li>
                            <li>Brief explanation of various Foreign Accounting Software Available</li>
                            <li>Interface the QuickBooks Accounting</li>
                                <li>Chart of Accounts</li>
                                <li>Inventory Management</li>
                                <li>Purchase Management</li>
                                <li>Sales Management</li>
                                <li>Enter Bill and Pay bill</li>
                                <li>Estimate and its conversion</li>
                                <li>Create invoice and Enter sales receipt</li>
                                <li>Credit note management</li>
                                <li>Receive payment</li>
                                <li>Banking menu</li>
                                <li>Statutory Transactions</li>
                                <li>Report management</li>
                            
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;E-ACCOUNTING 
                    </a>
                    </div>
                    <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Enterprise Resource Planning</li>
                            <li>Business Modules In Erp Systems</li>
                            <li>Erp Market Places</li>
                                <li>E-Banking
                                    <ul>
                                        <li>E-Money Concept</li>
                                        <li>Internet Banking</li>
                                        <li>Mobile Banking</li>
                                        <li>E-Wallet</li>
                                        <li>Unified Payment Interface (Upi)</li>
                                        <li>Point Of Sale</li>
                                        <li>Aadhar Enabled Payment Service (Aeps)</li>
                                        <li>Unstructured Supplementary Service Data (Ussd)</li>
                                    </ul>
                                </li>
                                <li>E-Filing (Gst Based)
                                    <ul>
                                        <li>Registration</li>
                                        <li>Application For Filing Clarifications</li>
                                    </ul>
                                </li>
                                
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse8">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                      </a>
                    </div>
                    <div id="collapse8" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Able to do Computer Operation smoothly.</li>
                              <li>Able to prepare Accounts manually.</li>
                              <li> Get a thorough knowledge in accounting software such as Tally, Sage 50, & Quick Books.</li>
                              <li>Get an overall concept of ERP, E Filing, E Banking etc.</li>
                              <li>Able to give training in the software.</li>
                              <li> Will become IAB Certificate Holder</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse9">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                      </a>
                    </div>
                    <div id="collapse9" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Become a Professional Accountant</li>
                              <li>IT Educator- Accounting Division</li>
                              <li>Accounting Executive</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div><br>
                    <h5>4 CERTIFICATES</h5>
                    ★ IAB (International Certificate)<br>
                    ★ Tally (International Certificate)<br>
                    ★ DIFA (Govt. Approved Certificate)<br>
                    ★ JainX University Certificate<br>
                    ★ MOS (International Certificate)
                  </div>
        </div>
                    
        </div>
    </section>
  {% endblock %}