{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--Header End-->

    <!--Breadcrumb Start-->
    <!-- <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title"> -->
                            <h2 style="text-align: center; color: #008db0;">Diploma In Indian & Foreign Accounting</h2>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/gtecpayyanur_difa.jpg' %}" alt="blog-img">
                                
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>A Diploma program to make you an expert in manual and computerized accounting. The course strides through the very computer basics, MS Office and then leads to Manual accounting, Computerized accounting and ends with E-Accounting concepts.</p>
                            <!-- <blockquote style="background-color: rgb(250, 253, 255)"><h3>Career Path:</h3><br>
                                <p><strong>VFX Artist & Editor<br>
                                    2D Animator<br>
                                    3D Modeler & Animator<br>
                                    Graphic Designer</strong></p>
                            </blockquote> -->
                           

                        </div>
                        <div class="container-fluid" >
                          <ul style="list-style-type: none;" >
                            <li style="color: #008db0;">Computer Basics And MS Office</li>
                            <li style="color: #008db0;">Fundamentals of Accounting</li>
                            <li style="color: #008db0;">Tally</li>
                            <li style="color: #008db0;">Sage 50 Accounting</li>
                            <li style="color: #008db0;">Quizebooks Accounting</li>
                            <li style="color: #008db0;">E-Accounting & ERP</li>
                            <li style="color: #008db0;">IAB-The Gateway to Your Financial Career</li>
                           
                          </ul>
                            
                        </div>
                        
                    </div>

                  
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
      
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Career Opportunities</h2>
                        <ul>
                            <li>
                                <a href="#">Become a Professional Accountant</a>
                            </li>
                            <li>
                                <a href="#">IT Educator- Accounting Division</a>
                            </li>
                            <li>
                                <a href="#">Accounting Executive</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div id="secondary" class="sidebar widget-area" >
                        
                        <div class="pq-widget-menu widget" >
                            <h2 class="widget-title">Certificates</h2></br>
                            <ul style="list-style-type: none; color: #0c8bcb;">
                                    <li><b>IAB (International Certificate)</b></li>
                                    <li><b>DIFA (Govt. Approved Certificate)</b></li>
                                    <li><b>QuickBooks (QB) (International Certificate)</b></li>
                                   
                                    
                                </ul>

                                </div>   
                            </div>
                                    
                    <div id="categories-2" class="widget widget_categories" style="margin-top: 50px;">
                   
                            <img src="{% static 'images/gtecpayyanur_accountant-calculating-profit-with-financial-analysis-graphs.jpg' %}" >
                        
                    </div>
                            
                </div>
                
               
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}