{% extends 'base.html' %}
{% block title %} SAP FICO | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h1 style="text-align: center; color: #008db0;">SAP FINANCE AND CONTROL</h1>
                       


    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">Aspiring a career in Finance domain that too in a reputed firm ? Certification in SAP Finance and Control can be your key to it. SAP FICO power user module will take you from the basics of SAP Accounting until the final reports in the most structured way it in global platform at G-TEC. This would cover all major transactions from daily entry to management reports to make you a complete SAP FICO expert.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/fico.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> Introduction to ERP
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Definition</li>
                            <li>History and evaluation of ERP</li>
                            <li>Major ERP Vendors</li>
                            <li> ERP Merits & De-merits</li>
                            <li>ERP implementation method</li>  
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsetwo">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> ERP Modules
                      </a>
                    </div>
                    <div id="collapsetwo" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>ERP modules – an overview</li>
                            <li>Introduction to Finance Module</li>
                            <li>Sub systems of finance module</li>
                            
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseThree">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> Introduction to FICO
                      </a>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseFour">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> Enterprise structure
                      </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Enterprise structure settings</li>
                            <li>Company and Company code</li>
                            <li>Business Area</li>
                            <li>Functional Area</li>
                            <li>Credit control Area</li>  
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseFive">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> Financial accounting Global settings
                      </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Fiscal Year</li>
                            <li>Posting Periods</li>
                            <li>Field status variant</li>
                            <li>Tolerance group</li>
                            <li>Document Type</li>  
                            <li>Number Range</li>
                            <li>Posting Keys</li>
                            <li>Account type and Line item</li>
                        </ul>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseSix">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> General ledger
                      </a>
                    </div>
                    <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Chart of accounts</li>
                            <li>Accounting Groups and Number Ranges</li>
                            <li>Retain Earning Account</li>
                            <li>GL Master Records</li>
                            <li>GL Document Entry</li>  
                           
                        </ul>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseSeven">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> Accounts Payable
                      </a>
                    </div>
                    <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Vendor Account Group</li>
                            <li>Vendor Tolerance Group</li>
                            <li>Number Ranges for Vendor Account Groups</li>
                            <li>Vendor Reconciliation Account</li>
                            <li>Vendor Master Records</li>  
                            <li>Payment Terms for vendor</li>
                            <li>Alternative Reconciliation Account</li>
                            <li>Automatic Posting and Automatic Payment Program</li>
                            <li>House Bank</li>
                            <li>Check Lots</li>
                            <li>Vendor Payment Posting</li>
                            <li>Post Purchase activities</li>

                           
                        </ul>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseEight">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> Accounts Receivable
                      </a>
                    </div>
                    <div id="collapseEight" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Customer Account Group</li>
                            <li>Customer Tolerance Group</li>
                            <li>Customer Reconciliation Account</li>
                            <li>Customer Master Records</li>
                            <li>Dunning Procedure</li>  
                            <li>Bill of Exchange</li>

                        </ul>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseNine">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> Asset Accounting
                      </a>
                    </div>
                    <div id="collapseNine" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Chart of Depreciation</li>
                            <li>Depreciation Area</li>
                            <li>Account Determination</li>
                            <li>Screen Layout Rule</li>
                            <li>Number Range Interval</li>  
                            <li>Asset Class</li>
                            <li>Base Method</li>
                            <li>Declaiming balance Method</li>  
                            <li>Multi-level Method</li>
                            <li>Period Control Method</li>
                            <li>Depreciation Key</li>
                            <li>Asset Master</li>

                        </ul>
                      </div>
                    </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse10">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                    </a>
                  </div>
                  <div id="collapse10" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Get Practical Knowledge in SAP FICO Power User</li>
                            <li> Get a good knowledge in SAP Power User</li>
                            <li> Able to do financial transactions through SAP</li>
                            <li> Can shine your cv with SAP International Certificate</li>
                            
                                   </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse11">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                    </a>
                  </div>
                  <div id="collapse11" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>SAP Finance and Control Executive.</li>
                            <li>SAP Accounts Payable Executive.</li>
                            <li>SAP Accounts Receivable Executive.</li>
                            <li> SAP Management Accountant.</li>
                            <li>SAP Accountant</li>
                            
                                   </ul>
                    </div>
                  </div>
                </div>
                <div><br>
                  <h5>2 CERTIFICATES</h5>
                  ★ SAP FICO (International Certificate)<br>
                  ★ SAP FICO (G-TEC Certificate)
                </div>

            </div>
                    
        </div>
    </section>
  {% endblock %}