{% extends 'base.html' %}
{% block title %} Tally Prime | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;">Tally Prime</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/gtecpayyanur_vat.jpg' %}" alt="blog-img">
                                
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>This course, from the house of Tally, India’s leading business management software company, is a comprehensive course to understand the concepts of GCC VAT and its application using Tally Prime. It makes candidate’s experience the simplicity of working on Tally Prime software. This course is highly recommended for working professionals to update themselves with GCC VAT compliance and candidates who aspire to build a successful career in Finance and Accounts or as entrepreneurs in GCC region. On completion of this course candidate will be equipped with knowledge and skills necessary for ensuring VAT compliance.</p>

                        </div>
                        <div class="container-fluid" >
                          <ul style="list-style-type: none;" >
                            <h4>Course Contents</h4>
                            <li style="color: #008db0;">Understand VAT system in GCC Countries</li>
                            <li style="color: #008db0;">Learn to manage different type of VAT upplie like;zero rated, exempt & taxable</li>
                            <li style="color: #008db0;">Printing of VAT invoice </li>
                            <li style="color: #008db0;">Managing all exports and imports within and outside GCC Countries</li>
                            <li style="color: #008db0;">Accounting of advance receipts.</li>
                            <li style="color: #008db0;">Accounting of supply on profit margin</li>
                            <li style="color: #008db0;">Maintaining inclusive of tax transactions.</li>
                            <li style="color: #008db0;">Filling of VAT returns</li>
                      
                           
                          <br>
                          <h2>Advanced Excel</h2>
                          <br>
                          <h6>Course Contents</h6>
                          <li style="color: #008db0;">Date Validation, Working with Excel Sparkline and Slicers <br>
                              Working with Data VBA Macro,Functions,Pivot table,Payrolls<br>
                            Lookups,PMT,Consolidate,Goal Seek,Advanced Charts<br>Scenario Manager,Date Functions</li>
                        </ul>
                          </div>
                          <br>
                          <br>
                        
                    </div>

                  
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Courses We Offer</h2>
                        <ul>
                            <li>
                                <a href="#">Accountant in Gulf</a>
                            </li>
                            <li>
                                <a href="#">GCC- VAT Specialist</a>
                            </li>
                            
                        </ul>
                    </div>
                  
                            <div>
                                <img src="{% static 'images/gtecpayyanur_businesspeople-working-finance-accounting-analyze-financi.jpg' %}" style="padding-top: 70px;" >
                            </div>
                    
                </div>
              
                </div>
            </div>
        </div>
    </section>
  {% endblock %}