{% extends 'base.html' %}
{% block title %} GCC VAT | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;">GCC VAT Using Tally</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">This course, from the house of Tally, India’s leading business management software company, is a comprehensive course to understand the concepts of GCC VAT and its application using Tally Prime. It makes candidate’s experience the simplicity of working on Tally Prime software. This course is highly recommended for working professionals to update themselves with GCC VAT compliance and candidates who aspire to build a successful career in Finance and Accounts or as entrepreneurs in GCC region. On completion of this course candidate will be equipped with knowledge and skills necessary for ensuring VAT compliance.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/vat.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Introduction to GCC VAT
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <ul>
                        <li>Gulf co-operation Council</li>
                        <li>Why VAT in GCC Countries</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Create Company, Activate GCC VAT
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Create Company and Activate GCC VAT in the Company Master</li>
                            <li>Activate GCC VAT from Statutory Features</li>
                            <li>Additional Options for GCC VAT</li>
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Create Masters & Set GCC VAT Rates
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Creating Stock Group</li>
                            <li>Creating Stock Items</li>
                            <li>Creating Service Ledger</li>
                            <li>Creating Sales Ledger</li>
                            <li>Creating Purchase Ledger</li>
                            
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Creating & Updating Party Ledger
                    </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Create Supplier Ledger for GCC VAT</li>
                              <li>Create Customer Ledger for GCC VAT</li>
                              <li>Update Party TRN</li>
                              <li>Import Party TRN Details</li>
                              <li>Create GCC VAT Ledger</li>
                              <li>Create Expenses Ledgers for GCC VAT</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Basic Accounting Standards (Manual Accounting)
                    </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Basic Accounting concepts</li>
                              <li>Basic terms and rules of accounting</li>
                              <li>Method of accounting</li>
                              <li>Type of Accounting</li>
                              <li>Rule of Accounting</li>
                              <li>Prepare Primary Books (Journal)</li>
                              <li>Ledger Posting</li>
                              <li>Income Statement & Financial Accounting (Balance sheet)</li>
                              <li>Adjustment entries</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; GCC VAT Purchases 
                    </a>
                    </div>
                    <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Record Purchase from a Domestic Supplier</li>
                              <li>Record Purchase from an Unregistered Dealer</li>
                              <li>Record Purchase within GCC Countries</li>
                              <li>Record Journal Voucher for Reverse Charge Liability</li>
                              <li>Record Purchase of Capital Goods</li>
                              <li>Claim Input Credit on Capital Goods Purchase</li>
                              <li>Record Purchase Returns</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; GCC VAT Sales
                    </a>
                    </div>
                    <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Record Domestic Sales</li>
                              <li>Record Sales to Registered Dealers in GCC Countries</li>
                              <li>Record Sales to Unregistered Dealers in GCC Countries</li>
                              <li>Record Sales of Goods and Services in a Single Invoice</li>
                              <li>Record Sales of Taxable and Exempt Items in a Single Invoice</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseEight">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Sales in Accounting Invoice mode
                    </a>
                    </div>
                    <div id="collapseEight" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Record Sales in Accounting Invoice Mode</li>
                              <li>Record Override Tax Details in an Invoice</li>
                              <li>Record Sales with an Additional Ledger</li>
                              <li>Record Sales Return</li>
                
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseNine">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Import of Goods & Services, and Export under GCC VAT
                    </a>
                    </div>
                    <div id="collapseNine" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Record Taxable Import of Goods</li>
                              <li>Record Journal Voucher for Reverse Charge Liability</li>
                              <li>Record Purchase of Services</li>
                              <li>Record Exports to a Party in a non VAT Implementing GCC Country</li>
                              <li>Record Export Sales to a Party Outside GCC Countries</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTen">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Supply of Profit Margin & Transfer of Right Use and Advances Received under GCC VAT
                    </a>
                    </div>
                    <div id="collapseTen" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Record Sales of Used Goods for Profit Margin</li>
                              <li>Record Transfer of Right to Use</li>
                              <li>Record Advances Received from Customer</li>
                              <li>Record Raise Tax Liability</li>
                              <li>Record Sales Voucher</li>
                              <li>Record Reverse the Tax Liability on Advance Receipts</li>
                              <li>Record Tax Payments</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseElevan">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Subsequent Sales
                    </a>
                    </div>
                    <div id="collapseElevan" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Record Import for Subsequent GCC Transfer</li>
                              <li>Record Reverse Charge Liability</li>
                              <li>Record Subsequent Sales to Intra GCC Customers</li>
                              <li>Record Subsequent Sales to Customers Outside GCC Countries</li>
                              
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwelve">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; GCC VAT Payments 
                    </a>
                    </div>
                    <div id="collapseTwelve" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Record Opening Balance of VAT</li>
                              <li>Display the VAT Return Report</li>
                              <li>Resolve All Exceptional at Once</li>
                              <li>Creating Adjustment Voucher</li>
                              <li>Save VAT Returns</li>
                              <li>Recomputed the Changes and Save as Revised</li>
                              <li>Save the Changes and Overwrite Saved Returns</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTirteen">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Save the Changes and Overwrite Saved Returns
                    </a>
                    </div>
                    <div id="collapseTirteen" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Export the VAT Return</li>
                              <li>Export Audit File</li>
                              <li>View the Tax Payment Reconciliation Report</li>
                              <li>View the Advance Receipts Summary</li>
                              <li>View the Reverse Charge Summary</li>
                              <li>View the Sale on Profit Margin Report</li>
                              <li>View the Return Transaction Book</li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse14">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                      </a>
                    </div>
                    <div id="collapse14" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Perform Manual Accounting and Book Maintenance</li>
                              <li> Able to operate Computerized Accounting – Tally Prime</li>
                              <li> Understand the concept of GCC VAT</li>
                              <li> Get a good Practical knowledge in GCC VAT</li>
                              
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse15">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                      </a>
                    </div>
                    <div id="collapse15" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Accountant in Gulf</li>
                              <li> GCC- VAT Specialist</li>
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div><br>
                    <h5>2 CERTIFICATES</h5>
                    ★ Tally GCC VAT (International Certificate)<br>
                    ★ Tally GCC VAT (G-TEC Certificate)
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}