{% extends 'base.html' %}
{% block title %} GST Using Tally | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h1 style="text-align: center; color: #008db0;">GST Using Tally</h1>
                   

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">The objective of a course on GST (Goods and Services Tax) filing is to provide participants with the necessary knowledge and skills to effectively and accurately file GST returns and comply with the legal requirements. The course aims to equip participants with a thorough understanding of the GST system, its principles, and the procedures involved in filing GST returns</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/gst.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;GST Using Tally
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse " data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                          <li>Introduction in GST
                            <ul style="list-style-type:circle">
                                <li>Tax Structure</li>
                                <li>Existing Tax system</li>
                                <li>Journey of GST</li>
                                <li>Overview of GST</li>
                                <li>Structure of GST</li>
                            </ul>
                          </li>
                          <li>CGST/SGST/IGST/UTGST
                            <ul style="list-style-type:circle">
                                <li>GST Online Registration</li>
                                <li>New Registration</li>
                                <li>Amendment of Registration</li>
                                <li>Cancellation of Registration</li>
                                
                            </ul>
                          </li>
                         <li>Tax Invoice & Other Documents Preparations
                            <ul style="list-style-type:circle">
                                <li>Purchase Bill</li>
                                <li>Sales Bill</li>
                                <li>E-Way Bill (Online System)</li>
                                <li>What is E-way bill</li>
                                <li>How to prepare (Online)</li>
                                
                            </ul>
                         </li>
                         <li>Working with GST Portal Simulation Software
                            <ul style="list-style-type:circle">
                                <li>E-Filing Process of GSTR – 1 Using GST Portal Simulation Software</li>
                                <li>E-Filing Process of GST Challan & GSTR-3B Using GST Portal Simulation Software</li>
                                <li>GST Due Dates Rules</li>
                                <li>Checking GSTR-2A & GSTR-2B Before Filing GST Returns</li>
                                <li>E-Way Bill Preparation Rules Using E-Way Bill Portal Simulation Software</li>
                                <li>E-Filing of Annual Returns GSTR-9C & 9C Using GST Portal Simulation Software</li>
                                <li>GST ITC Rules for Availment of Input Tax Credit</li>
                                <li>GST Registration Using GST Portal Simulation Software</li>
                            </ul>
                        </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse2">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                      </a>
                    </div>
                    <div id="collapse2" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Able to do Computer Operation smoothly</li>
                              <li> Get a thorough knowledge in GST and GST Returns</li>
                              <li> Practical experience in GST Filing through GST Portal</li>
                              
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse3">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                      </a>
                    </div>
                    <div id="collapse3" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Become a Professional in GST Filing process</li>
                               <li> IT Educator in GST and GST Filing through GST Portal</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ GST Filing - G-TEC Certificate
                  </div>
                      </div>
                    
        </div>
    </section>
  {% endblock %}