{% extends 'base.html' %}
{% block title %} SAP MM | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h1 style="text-align: center; color: #008db0;">SAP MATERIAL MANAGEMENT</h1>
                       


    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">Learn Material Management the Global way with SAP MM. SAP Material Management Power User module will take you from Procurement to Purchase and Inventory Management. A 360 degree module in SD to make you a professional employable anywhere in the world on SAP platform on any automated platforms.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/mm.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> SAP MM
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>Introduction to MM</li>
                            <li>Organization structure</li>
                            <li>Master Data</li>
                            <li>Procurement Process</li>
                            <li>Outline Purchase Agreement</li>  
                            <li>Document release Procedure</li>
                            <li>Logistics invoice verification</li>
                            <li>Inventory Management</li>
                            <li> Business Process- MM</li>
                            <ul style="list-style-type:circle;">
                                <li>Principle concept of Material management</li>
                                <li>Advantages of Material Management</li>
                                <li>Organizational structure</li>
                                <li>Purchase Organization and its types</li>
                                <li>Master Data Management (MM)</li>
                                <li>Purchase Information Records</li>
                                <li>Source List Record</li>
                                <li>Quota Management</li>
                                <li>Bill of Materials</li>
                                <li>Basic Procurement Process</li>
                                <li>Blanket Purchase order</li>
                                <li>External Source Procurement</li>
                                <li>Logistics and Invoice Verification</li>
                                <li>Invoice Plan</li>

                            </ul>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse10">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                      </a>
                    </div>
                    <div id="collapse10" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                            <li>Get Practical Knowledge in SAP Material Management Power User</li>
                            <li> Get a good basic knowledge in SAP MM Power User</li>
                            <li> Able to do financial transactions through SAP</li>
                            <li> Can shine your cv with SAP International Certificate</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse11">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                      </a>
                    </div>
                    <div id="collapse11" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>SAP Material Management Executive</li>
                              <li> SAP Purchase Executive</li>
                              <li>SAP Inventory Management Executive</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div><br>
                    <h5>2 CERTIFICATES</h5>
                    ★ SAP MM (International Certificate)<br>
                    ★ SAP MM (G-TEC Certificate)
                   

                  </div>
            </div>
                    
        </div>
    </section>
  {% endblock %}