{% extends 'base.html' %}
{% load static %}
{% block content %}
                            <h2 style="text-align: center; color: #008db0;">Professional Diploma in Indian, Foreign & SAP Accounting</h2>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/pdifa.jpg' %}" alt="blog-img">
                                
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>A very simple but authentic course to make you a professional accountant recognized globally. The course starts with the very fundamentals of Computer and strides to manual accounting, Computerized accounting and reaches upto ERP Accounting in SAP. You would experience the whole evolution of Accounting on your fingertips with PDIFAS</p>
                            
                        </div>
                       
                     
                       
         </div>

                  
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Course content</h2>
                        <ul>
                            <li>
                                <a href="#">Information and Communication Technology</a>
                            </li>
                            <li>
                                <a href="#">Manual and Computerized Accounting</a>
                            </li>
                            <li>
                                <a href="#">e-Accounting</a>
                            </li>
                            <li>
                                <a href="#">ERP Accounting in SAP (KA)</a>
                            </li>
                            <li>
                                <a href="#">DIFA (Govt. Approved Certificate)</a>
                            </li>
                            <li>
                                <a href="#">QuickBooks (QB) (International Certificate)</a>
                            </li>
                            
                        </ul>
                           
                    </div>

                </div>
              
                </div>
            </div>
        </div>
    </section>
 
    <h1 style="text-align: center; color: #008db0;">PDIFAS With SAP FICO</h1>
                        

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/ACC.jpg' %}" alt="blog-img" width="800px" height="700px">
                                
                        </div>
                        
                        
                    </div>

                  
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Course content</h2>
                        <ul>    
                            
                            
                        
                         
                            <li>
                                <a href="#"> Computer basics</a>
                            </li>
                            <li>
                                <a href="#">MS Office</a>
                            </li>
                            <li>
                                <a href="#">Introduction to Accounting standards</a>
                            </li>
                            <li>
                                <a href="#"> Tally</a>
                            </li>
                            <li>
                                <a href="#"> Sage 50 Accounting</a>
                            </li>
                            <li>
                                <a href="#">QuickBooks</a>
                            </li>
                            <li>
                                <a href="#">ERP & E-Accounting concepts</a>
                            </li>
                            <li>
                                <a href="#">SAP Finance and Control</a>
                            </li>
                        
                             
                        </ul>
                           
                    </div>

                </div>
              
               
               



                </div>
            </div>
        </div>
    </section>
  
 
 {% endblock %}