{% extends 'base.html' %}
{% block title %} SAP PP | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h1 style="text-align: center; color: #008db0;">SAP PRODUCTION PLANNING</h1>
                       


    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">Planning for a career in Production /Manufacturing ? SAP PP can be your gateway to a wonderful career in Production Planning. SAP PP Power User module is a comprehensive standard learning platform which takes you through every cycle of process including Planning, production and even up to Quality management. You will find yourself ready to fly for a global career in PP</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/pp.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> SAP PP
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                            <li>INTRODUCTION TO SAP PRODUCT PLANNING</li>
                            <li>ORGANIZATION STRUCTURE</li>
                            <li>ORGANIZATIONAL UNIT</li>
                            <li>MASTER DATA IN SAP</li>
                            <li>DEFINE DISTRIBUTION KEYS</li>
                            <li>LONG TERM PLANNING</li>
                            <li>BILL OF MATERIAL</li>
                            <li>WORK CENTRES</li>
                            <li>ROUTING</li>
                            <li>DEMAND MANAGEMENT</li>
                            <li>DEMAND PLANNING</li>
                            <li>AVAILABILITY CHECK</li>
                            <li>MATERIAL REQUIREMENT PLANNING</li>
                            <li>  PRODUCTION ORDER</li>
                            <li>GOODS ISSUE</li>
                            <li>MIGO (MOVEMENT OF GOODS OUT)</li>
                            <li>MOVEMENT TYPES</li>
                            <li>DETERMINATION OF PERSONAL RESPONSIBLE FOR RESOURCES</li>
                            <li>STOCK REQUIREMENT</li>
                            <li>FORECAST PLANNING</li>
                            <li>PLANT REQUIREMENT</li>
                            <li>CUSTOMER REQUIREMENT</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse10">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                      </a>
                    </div>
                    <div id="collapse10" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                            <li>Get Practical Knowledge in SAP PP Power User</li>
                            <li> Get a good knowledge in SAP Power User</li>
                            <li>Able to do financial transactions through SAP</li>
                            <li> Can shine your cv with SAP International Certificate</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse11">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                      </a>
                    </div>
                    <div id="collapse11" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>SAP Product Planning Executive</li>
                              <li> SAP Quality Control Executive</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div><br>
                    <h5>2 CERTIFICATES</h5>
                    ★ SAP PP (International Certificate)<br>
                    ★ SAP PP (G-TEC Certificate)

                  </div>
            </div>
                    
        </div>
    </section>
  {% endblock %}