{% extends 'base.html' %}
{% block title %} SAGE 50 | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
<h1 style="text-align: center; color: #008db0;">SAGE 50</h1>
                   

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">A course tailored to mold a novice to professional accountant who can manage and organize financial transactions of a small/medium scale organization. The final project links the academy to industry.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/sage.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;SAGE 50 ACCOUNTING
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse " data-bs-parent="#accordion">
                      <div class="card-body">
                        <ul>
                          <li>Introduction</li>
                          <li>Installation Process</li>
                          <li>Company Creation</li>
                              <li>Chart of Account</li>
                              <li>Customer & Vendor Master</li>
                              <li>Inventory Master</li>
                              <li>General Journal Entry</li>
                              <li>Purchase Management</li>
                              <li>Sales Management</li>
                              <li>Payroll Management</li>
                              <li>Job Costing</li>
                              <li>Assembly</li>
                              <li>Banking</li>
                              <li>Conclusion</li>
                             
                          
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse2">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                      </a>
                    </div>
                    <div id="collapse2" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Understand and use the interface of Sage Accounting Software</li>
                              <li> Understand the concept of Foreign Accounting</li>
                              <li>  Create and maintain the records of a company</li>
                              <li> Record every transaction of a company</li>
                              <li> Display the whole report</li>
                              <li> Eligible for opting International Certification from QuickBooks</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse3">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                      </a>
                    </div>
                    <div id="collapse3" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Become a Professional Accountant</li>
                              <li> IT Educator- Accounting Division</li>
                              <li>Accounting Executive</li>
                              <li> QuickBooks Accountant</li>
                              
                                     </ul>
                      </div>
                    </div>
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ SAGE 50 (G-TEC Certificate)
                  </div>
                      </div>
                    
        </div>
    </section>
  {% endblock %}