{% extends 'base.html' %}
{% block title %} Tally Prime | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;">Tally Prime</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">If you are a beginner in the Accounting and Finance domain, then Tally Essential is the course designed for your career growth. It covers topics from basic to intermediate Financial Accounting concepts. The course will help you understand how to perform basic to intermediate Accounting, Inventory and Basic Taxation (GST, TDS), and Simplification of Company Books of Accounts to name a few. The practical applications will be done on the new TallyPrime software to keep you at par with the new releases.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/tally.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Tally Prime - Level - 1 
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Introduction to Tally Prime</li>
                            <li>Features of Tally Prime
                                <ul style="list-style-type:circle">
                                    <li>Downloading and Installation of Tally Prime</li>
                                    <li>Types of Licenses in Tally Prime</li>
                                    <li>Activate New License</li>
                                    <li>Reactivate License in Tally Prime</li>
                                    <li>Use License from Network in a Multiuser Environment</li>
                                </ul>
                            </li>
                            <li>Working Tally Prime in Educational Mode
                                <ul style="list-style-type:circle">
                                    <li>Company Creation and Setting up Company Features in Tally Prime</li>
                                    <li>Getting Started with Tally Prime</li>
                                    <li>Navigating from Anywhere to Anywhere in Tally Prime</li>
                                    <li>F12 Configuration in Tally Prime</li>
                                    <li>Alter Company Details</li>
                                    <li>Shut the Company</li>
                                </ul>
                            </li>
                            <li>Maintaining Chart of Accounts
                                <ul style="list-style-type:circle">
                                    <li>Introduction to Chart of Accounts</li>
                                    <li>Creation, Alteration & Deletion of Masters in Tally Prime (Both Accounting & Inventory)</li>
                                    <li>Multi-Masters Creation and Display</li>
                                </ul>
                            </li>
                            <li>Recording and Maintaining Accounting Transactions
                                <ul style="list-style-type:circle">
                                    <li>Recording Transactions in Tally</li>
                                    <li>Accounting Vouchers in Tally Prime</li>
                                    <li>Recording Accounting Vouchers in Tally Prime (Receipt, Payment, Contra, Journal, Purchase, Sales, Debit Note and Credit Note)</li>
                                </ul>
                            </li>
                            <li>Banking
                                <ul style="list-style-type:circle">
                                    <li>Banking Payments</li>
                                    <li>Cheque Printing (Both Single & Multiple Cheque Printing)</li>
                                    <li>Deposit Slip (Cheque/Cash)</li>
                                    <li>Payment Advice</li>
                                    <li>Bank Reconciliation (Auto/Manual)</li>
                                </ul>
                            </li>
                            <li>Generating Financial Statements and MIS Reports
                                <ul style="list-style-type:circle">
                                    <li>Final Accounts Reports in TallyPrime (Introduction)</li>
                                    <li>Generating Financial Reports in TallyPrime. (Trial Balance, Profit and Loss Account, Balance Sheet, Cash Flow & Fund, Flow Analysis Report, Receipts and Payments)</li>
                                    <li>MIS Reports in Tally (Stock Summary Analysis, Daybook, Cash and Bank Book, Purchase Register, Sales Register, Journal Register)</li>
                                </ul>
                            </li>
                            <li>Data Security
                                <ul style="list-style-type:circle">
                                    <li>Introduction</li>
                                    <li>Security Control</li>
                                    <li>Activation of Security Control</li>
                                    <li>Creation of Security Levels (User Roles)</li>
                                    <li>Creation of Users and Passwords for Company</li>
                                    <li>Accessing the company using Security Levels</li>
                                    <li>Auto Login</li>
                                    <li>Tally Vault</li>
                                </ul>
                            </li>
                            <li>Company Data Management
                                <ul style="list-style-type:circle">
                                    <li>Backup & Restoring of Company Data</li>
                                    <li>Company Data Repair</li>
                                    <li>Migration of Tally.ERP 9 Company Data to TallyPrimepanies</li>
                                </ul>
                            </li>
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Tally Prime - Level - 2
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Storage and Classification of inventory</li>
                            <li>Accounts Receivable and Payable Management</li>
                            <li>Purchase and Sales Order Management</li>
                            <li>Budgets and Scenarios</li>
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Tally Prime - Level - 3
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Introduction to GST</li>
                            <li>E-Way Bill</li>
                            <li>GST e-Invoicing</li>
                            <li>GST in Tally Prime</li>
                            <li>Hierarchy of Calculating Tax in Transactions</li>
                            <li>Recording GST compliant transactions</li>
                            <li>E-Way Bill Report in Tally</li>
                            <li>Input Tax Credit Set Off against Liability</li>
                            <li>GST Tax Payment</li>
                            <li>Generating GST Returns for Regular Dealer in Tally</li>
                            <li>Filing GST Returns in Tally</li>
                            <li>Generating e-invoice in Tally Prime</li>
                            <li>Quarterly Return Monthly Payment Scheme</li>
                            <li>Composition Dealer under GST Regime</li>
                            <li>TAX DEDUCTED AT SOURCE (TDS)</li>
                            <li>Configuration of TDS at Different levels</li>
                            <li>Recording TDS Compliant Transactions in TallyPrime</li>
                            <li>TDS Payment to Department</li>
                            <li>TDS Report</li>
                            <li>Management of Business Data</li>
                            <li>Export and Import of Data</li>
                            <li>Open Database Connectivity (ODBC)</li>
                            <li>Moving to the Next Financial Year</li>
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                      </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Able to do Computer Operation smoothly</li>
                              <li>Get a thorough knowledge in accounting software – Tally</li>
                              <li>Become a Tally direct certified holder</li>
                              
                       
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                      </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                      <div class="card-body">
                          <ul>
                              <li>Become a Professional Accountant</li>
                              <li> IT Educator- Accounting Division</li>
                              <li> Accounting Executive</li>
                              
                       
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div><br>
                    <h5>2 CERTIFICATES</h5>
                    ★ Tally (International Certificate)<br>
                    ★ Tally (G-TEC Certificate)
                  </div>
        </div>
     
        </div>
    </section>
  {% endblock %}