{% extends 'base.html' %}
{% block title %} Diploma In Digital Marketing | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;"> Diploma In Digital Marketing (DDM)</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/DDM2.jpg' %}" width="90%" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>The objective of the course is to help students to understand digital marketing method.It provides participants with a rich set of digital skills to devise,plan and implement an engaging and succesful digital strategy that deliver on and supports business objective. </p>
                           
                            {% comment %} <h2 class="pq-blog-single-title" style="color:#008db0">Front-End Development</h2> {% endcomment %}
                            {% comment %} <p  style="color:black">Adobe Photoshop,Adobe Dreamweaver,HTML,CSS,Javascript, JSON and Jquery</p> {% endcomment %}
                            <div class="pq-blog-single-info">
                               
                                <h2  class="pq-blog-single-title"  style="color:#008db0">Building Design</h2>
                                <ul>
                                    <li style="color:black;">Mobile marketing</li>
                                    <li style="color:black;">Content marketing</li>
                
                                    <li style="color:black;">Email marketing</li>
                                    <li style="color:black;">Social med marketing</li>
                                    <li style="color:black;">Introduction to SEO</li>
                                    <li style="color:black;">Introduction to digitalmarketing</li>
                                    <li style="color:black;">Facebook marketing</li>
                                    <li style="color:black;">Video marketing</li>

                                    <li style="color:black;">Instagram marketing</li>
                                    <li style="color:black;">Linkedin marketing</li>
                                    <li style="color:black;">Twitter marketing</li>
                                    
                                </ul>   
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Career Opportunities</h2>
                            <ul>
                                <li>
                                    Digital Marketing Manager
                                </li>
                                <li>
                                    Social Media Manager
                                </li>
                                <li>
                                    SEO Specialist
                                </li>
                                <li>
                                    Content Marketing Manager
                                </li>
                                <li>
                                    Web Analytics Expert
                                </li>
                                <li>
                                    Digital Marketing Analyst
                                </li>
                               
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Technical Skills</h2>
                            <ul>
    
                                <li>Adobe Photoshop</li>
                                <li>Adobe Illustrator</li>
                                <li>HTML, Canva</li>
                                <li>Wordpress</li>
                                
                                
                            </ul>
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <img src="{% static 'images/DDM.jpg' %}">
                        </div>
                        {% comment %} <div id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">Using Languages</h2>
                            <ul style="list-style-type:square">
                                
                                <li>Python</li>
                                
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}