{% extends 'base.html' %}
{% block title %} Professional Diploma In Digital Marketing | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;">Professional Diploma In Digital Marketing (PDDM)</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/pddm.jpg' %}" width="90%" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>The objective of the course is to help students to understand digital marketing methods. It provides participants with a rich set of digital skills to devise,plan and implement an engaging and successful digital strategy that delivers and supports business objective.</p>
                           
                                  <div class="pq-blog-single-info">
                               
                                <h2  class="pq-blog-single-title"  style="color:#008db0">Social Media Marketing</h2>
                                <ul>
                                    <li style="color:black;">Introduction To Digital Marketing</li>
                                    <li style="color:black;">Introduction To SMM</li>
                
                                    <li style="color:black;">Facebook Marketing And ADS</li>
                                    <li style="color:black;">Whatsapp Marketing</li>
                                    <li style="color:black;">Youtube Marketing</li>
                                    <li style="color:black;">Instagram Marketing</li>
                                    <li style="color:black;">Video Marketing</li>
                                    <li style="color:black;">Twitter Marketing</li>
                                    <li style="color:black;">LinkedIn Marketing</li>
                                </ul>   
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Career Opportunities</h2>
                            <ul>
                                <li>
                                    SEO Specialist
                                </li>
                                <li>
                                    Social Media Manager
                                </li>
                                <li>
                                    Content Marketing Specialist
                                </li>
                               
                               
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Technical Skills</h2>
                            <ul>
    
                                <li>Adobe Photoshop</li>
                                <li>Adobe Illustrator</li>
                                <li>HTML/Canva</li>
                                <li>Wordpress</li>
                                
                                
                            </ul>
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">SEO</h2>
                           <ul>
                            <li>Introduction To SEO</li>
                            <li>Onpage Optimization</li>
                            <li>Offpage Optimization</li>
                            <li>Keyword Research & Competition</li>
                            <li>Google Analytics & Google ADS</li>
                            <li>Introduction to PPC Marketing</li>
                            <li>Affiliate Marketing</li>
                            <li>Conversion Rate Optimization(CRO)</li>
                            <li>Blogging,Vlogging,Funnels</li>
                           
                           </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}