{% extends 'base.html' %}
{% block title %} CERTIFICATE COURSE IN HARDWARE AND SOFTWARE INSTALLATION (CHSI)| G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;">CERTIFICATE COURSE IN HARDWARE AND SOFTWARE INSTALLATION (CHSI)</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">This course supported by a wide range of hands-on practical, will teach newcomers the essentials of installing and troubleshooting all types of PC hardware and software. It is the essential foundation course for newcomers to PC support and provides participants with the necessary training to ensure proficiency in PC hardware and software installation skills.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/chsi.png' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Hardware and Software
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Installation
                  </a>
                  </div>
                 
                </div>
               
                  
                    </div>
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ CERTIFICATE COURSE IN HARDWARE AND SOFTWARE INSTALLATION (CHSI) 
                   
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}