{% extends 'base.html' %}
{% block title %} Computer Hardware | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;">Computer Hardware</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">This course supported by a wide range of hands-on practical, will teach support newcomers the essentials of installing and troubleshooting all types of PC hardware. It is the essential foundation course for newcomers to PC support and provides participants with the necessary training to ensure proficiency in PC installation and troubleshooting skills.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/ch.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Basic and Digital Electronics
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <ul>
                        <li>Components and Devices</li>
                        <li> Measuring instruments</li>
                        <li>Circuits</li>
                        <li>Digital number system</li>
                        <li>Boolean algebra and logic circuits</li>
                        <li>Digital logic</li>
                        <li>Gates</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Hardware and Installation
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>CPUs</li>
                            <li> Removable Media</li>
                            <li>Hard drives</li>
                            <li> RAM</li>
                            <li> Motherboard and Power supplies</li>
                            <li>Power and SMPS</li>
                            <li>Adapter cards and Peripherals</li>
                            <li> BIOS and CMOS</li>
                            <li> Ports and Connectors</li>
                            <li> Portable Computers/Laptop</li>
                            <li> Maintenance and Safety precautions</li>
                            <li>Field Engineering</li>
                            <li> Operating Systems</li>
                          </ul>
                    </div>
                  </div>
                </div>
                
                    </div>
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ Computer Hardware
                   
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}