{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;">Diploma In CCTV And Security Systems</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/cc.jpg' %}" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>Understand the fundamental elements that make up CCTV and Security Systems. Be aware of the issues associated with lighting and scene illumination,have awareness of the changing technology and its impact on the industry.</p>
                           
                            <div class="pq-blog-single-info">
                                <h2 class="pq-blog-single-title"  style="color:#008db0">CCTV</h2>
                                <ul style="list-style-type:none;">
                                    <li style="color:black;">With recent major technological advances ensuring that CCTV continues to play a major role worldwide in helping to combat criminal and terrorist activity, it's not surprising that our CCTV training course continue to be extremely popular.
                                        Our CCTV training courses cover the entire CCTV system plannig and design process as well as the specification,installation,set up and maintenance of the key system components such as cameras,lenses,DVR,NVRs and cabling.
                                    </li>
                                    
                                </ul>
                                
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Hardware</h2>
                            <ul>
                                <li>
                                   Install and configure PC hardware and system components, understand the basics of peripherals and local area network(LAN),
                                   and support and troubleshoot PC hardware,software peripherals and have a good understanding of service techniques. 
                                </li>
                                
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Access Controller</h2>
                            <ul>
                                <li>The purpose of an access control system is to provide quick,convenient access to those persons who are authorized, while at the same time,
                                    restricting access to unauthorized people. The access card is used by persons to gain access through the doors secured by the access control system.
                                </li>
                                
                            </ul>
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <img src="{% static 'images/ccc.jpg' %}">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}