{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Courses</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a></li>
                                <li class="breadcrumb-item active">Courses</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->

    <!--Goals Start-->
    {% comment %} <section class="goals">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <h3 style="padding-top: 20px;padding-bottom:20px;">
                            COURSE CATEGORIES</h3>
                        
                    </div>
                </div>
            </div>
  
    </section> {% endcomment %}
    <!--Goals End-->
  
    <!--Blog Start-->
    <section class="blog">
        <div class="container">
            
                <div class="col-lg-12">
                   
                    <div style="width: 100%; height: 100%; margin: 10px;">
                      <div style="display: flex;">
                        <div class="item" style="padding-right: 20px;">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="{% static 'images/blog/accounting.jpg' %}" alt="blog-img">
                                   
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                               
                                            <h4 style="text-align: center;">Accounting</h4>
                                       
                                    </div>
                                   
                                    <p>We have everything in our quiver for a jobseeker to find their perfect fit, from black-and-white manual accounting to the newest ERP Accounting software.</p>
                                    
                                    <a href="/accounting" class="pq-button pq-btn-link">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                   
                        <div class="item" style="padding-right: 20px;" >
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="{% static 'images/blog/accounting.jpg' %}" alt="blog-img">
                                    
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                               
                                            <h4 style="text-align: center;">Software</h4>
                                       
                                    </div>
                                   
                                    <p>As the academy has spread its wings across the software industry, it has provided courses on everything from basic computing to .NET, Python, etc.</p>
                                    
                                    <a href="/software" class="pq-button pq-btn-link">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-right: 20px;">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="{% static 'images/blog/multimedia.jpg' %}" alt="blog-img">
                                   
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                               
                                            <h4 style="text-align: center;">Multimedia & Animation</h4>
                                       
                                    </div>
                                   
                                    <p>It is a multidisciplinary sector and covers many fields like motion graphics, animation, cinematography, modelling, storyboarding, visual effects and more.</p>
                                    
                                    <a href="/multimedia" class="pq-button pq-btn-link">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; " >
                        <div class="item"  style="padding-right: 20px;">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="{% static 'images/blog/multimedia.jpg' %}" alt="blog-img">
                                  
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                               
                                            <h4 style="text-align: center;">CADD</h4>
                                       
                                    </div>
                                   
                                    <p>The Computer Aided Design & Drafting (CADD) program is designed to develop and enhance practical skills; increasing students' knowledge for a successful CADD career.</p>
                                    
                                    <a href="/cadd" class="pq-button pq-btn-link">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-right: 20px;">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="{% static 'images/blog/accounting.jpg' %}" alt="blog-img">
                                  
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                               
                                            <h4 style="text-align: center;">MS Office</h4>
                                       
                                    </div>
                                   
                                    <p>Explore the Microsoft Office applications suite.  G-tec covers a wide range of software titles including Excel, Publisher, OneNote, Outlook, SharePoint, Word, Access, and PowerPoint.</p>
                                    
                                    <a href="/msoffice" class="pq-button pq-btn-link">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="padding-right: 20px;">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="{% static 'images/blog/accounting.jpg' %}" alt="blog-img">
                                  
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                               
                                            <h4 style="text-align: center;">Hardware</h4>
                                       
                                    </div>
                                   
                                    <p>Students will learn to build computers, troubleshoot hardware and software problems, networking, safety in the workplace, and basic electronics related to computer hardware.</p>
                                    
                                    <a href="/hardware" class="pq-button pq-btn-link">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog End-->
    <div class="pq-section pq-style-1 text-center">
       
      
       
    </div>
    <div class="client pq-bg-dark py-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="pq-client pq-60">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-desk_num="6" data-lap_num="5" data-tab_num="3" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                            <div class="item">
                                <div class="pq-clientbox-1">
                                    <a href="contact-us.html">
                                        <img class="pq-client-img" src="{% static 'images/af1.jpg' %}" alt="pq-client-img">
                                        <!-- <img class="pq-client-hover-img" src="images/client/1.png" alt="pq-client-img"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-clientbox-1">
                                    <a href="contact-us.html">
                                        <img class="pq-client-img" src="{% static 'images/af2.jpg' %}" alt="pq-client-img">
                                        <!-- <img class="pq-client-hover-img" src="images/client/2.png" alt="pq-client-img"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-clientbox-1">
                                    <a href="contact-us.html">
                                        <img class="pq-client-img" src="{% static 'images/af3.jpg' %}" alt="pq-client-img">
                                        <!-- <img class="pq-client-hover-img" src="images/client/3.png" alt="pq-client-img"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-clientbox-1">
                                    <a href="contact-us.html">
                                        <img class="pq-client-img" src="{% static 'images/af4.jpg' %}" alt="pq-client-img">
                                        <!-- <img class="pq-client-hover-img" src="images/client/4.png" alt="pq-client-img"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-clientbox-1">
                                    <a href="contact-us.html">
                                        <img class="pq-client-img" src="{% static 'images/af5.jpg' %}" alt="pq-client-img">
                                        <!-- <img class="pq-client-hover-img" src="images/client/5.png" alt="pq-client-img"> -->
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-clientbox-1">
                                    <a href="contact-us.html">
                                        <img class="pq-client-img" src="{% static 'images/af6.jpg' %}" alt="pq-client-img">
                                        <!-- <img class="pq-client-hover-img" src="images/client/5.png" alt="pq-client-img"> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}