{% extends 'base.html' %}
{% block title %} Multimedia | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Breadcrumb Start-->
    <div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1 style="text-align: center;color:#008db0;">Multimedia & Animations</h1>
                        </div>
                       
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->

    <!--Left Sidebar Start-->
    <section class="left-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog pq-blog-col-1">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pq-blog-post">
                                    <div class="pq-post-media">
                                        <img loading="lazy" src="{% static 'images/gtecpayyanur_mutltimedia.jpg' %}" alt="blog-img">
                                    </div>
                                    <div class="pq-blog-contain">
                                        
                                        <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Multimedia & Animations</a></h5>
                                        <p>This division is for the creative lot. It provides the most demanding course for the future. Advanced coverage in graphics, web and multimedia with animation is covered in this division adorned by latest infrastructure.</p>
                                        
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                                 
                        
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Courses We Offer</h2>
                            <ul>
                                <li>
                                    <a href="#">Full Stack Developer</a>
                                </li>
                                <li>
                                    <a href="#">Advanced Python</a>
                                </li>
                                <li>
                                    <a href="#">Data Science</a>
                                </li>
                                <li>
                                    <a href="#">Data Analytics</a>
                                </li>
                                <li>
                                    <a href="#">UI/UX Design</a>
                                </li>
                                <li>
                                    <a href="#">C++ Programming</a>
                                </li>
                                <li>
                                    <a href="#">C Programming</a>
                                </li>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Left Sidebar End-->

{% endblock %}