{% extends 'base.html' %}
{% block title %} Placements | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Banner Start-->
    <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Placement</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home me-2"></i>Home</a></li>
                                <li class="breadcrumb-item active">Placement</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Banner End-->

    <!--Technology Start-->
    <section class="pq-bg-grey pq-bg-img-1 exclusive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <span class="pq-section-sub-title">Students Achievements</span>
                        <h5 class="pq-section-title" id="flexible" data-high_text="Flexible" data-title_text="We Provide Flexible IT Services" data-rough_color="#fd4a18" data-rough_type="underline">Recent Placements</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6" style="padding-bottom: 50px;">
                    <div class="pq-icon-box pq-style-7">
                        
                        <div class="pq-icon">
                            <img src="{% static 'images/ANUSREE.jpg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Anusree</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-md-0">
                    <div class="pq-icon-box pq-style-7">
                        <div class="pq-icon">
                            <img src="{% static 'images/Jayesh TV.jpeg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Jayesh T V</h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                    <div class="pq-icon-box pq-style-7">
                        <div class="pq-icon">
                            <img src="{% static 'images/ASWANTH KV.jpg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Aswanth K V</h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                    <div class="pq-icon-box pq-style-7">
                        <div class="pq-icon">
                            <img src="{% static 'images/anas.jpg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Anas N P</h4>
                            
                        </div>
                    </div>
                </div><br>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="pq-icon-box pq-style-7">
                        <div class="pq-icon">
                            <img src="{% static 'images/SHARON.jpeg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Sharon</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-md-0">
                    <div class="pq-icon-box pq-style-7">
                        <div class="pq-icon">
                            <img src="{% static 'images/SUHAID.jpeg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Suhaid</h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                    <div class="pq-icon-box pq-style-7">
                        <div class="pq-icon">
                            <img src="{% static 'images/PRATHIK P MALLAR.jpeg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Prathik P Mallar</h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                    <div class="pq-icon-box pq-style-7">
                        <div class="pq-icon">
                            <img src="{% static 'images/LAYANA KV (1).jpg' %}">
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Layana K V</h4>
                           
                        </div>
                    </div>
                </div>
                
            
            </div>
        </div>
    </section>
    <!--Technology End-->
{% endblock %}

