{% extends 'base.html' %}
{% block title %} Advanced Operator | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;"> Advanced Operator (AO)</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">This course is designed for those students who wish to learn numerous advance MS Word. Excel,
                                PowerPoint, Access and Outlook features. By the end of this training, the students will be able to use
                                advance features of Word, Excel, PowerPoint and Outlook in an office environment with maximum
                                efficiency as well as the most important office applications which are extremely useful in secretarial
                                routine and office administrative work.</p>
                       
                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/ao.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Word processing (MS WORD)
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;  Spreadsheet package (MS EXCEL) basics

                  </a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Analytics techniques with MS Excel
  
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Excel advanced
  
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;  Presentation package (PowerPoint)
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Data base (MS –ACCESS)
                    </a>
                    </div>
                   
                  </div>
                  
                  </div>
                  <div><br>
                    <h5>2 CERTIFICATES</h5>
                    ★ AO - G-TEC Certificate
                    ★ MOS - Direct Certificate
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}