{% extends 'base.html' %}
{% block title %} Computer Teachers Training Course (CTTC) | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;"> Computer Teachers Training Course (CTTC)</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">The course, which covers the basics of computers and makes you proficient in operating systems, word
                                processing, spreadsheet, Internet operations and programming in core java and most popular and user
                                friendly Visual Basics. Essentials of manual accounting, computerized A/C in Tally and hardware and
                                system maintenance are included. The course includes a paper in student psychology which has been
                                tailored to make you an expert in the teaching field. The final project enables you to have glimpse at the
                                development environment too.</p>
                       
                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/cttc.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; MS Office & Open Office
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Programming Logic & Practices and Visual Basic

                  </a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;IT in Multimedia (Adobe Photoshop , Adobe Animate)
  
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Hardware and system maintenance essentials.
  
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;  Student Psychology and Teaching Techniques
                    </a>
                    </div>
                   
                  </div>
                 
                  
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ CTTC - G-TEC Certificate
                   
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}