{% extends 'base.html' %}
{% block title %} Diploma In Data Analysis | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;">Diploma In Data Analysis</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/da1.jpg' %}" width="90%" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>This helps you to build a bright career in data analysis covering the full lifecycle,which include data analysis,basic data analytics, activities and design of dash boards using Advanced Excel,Power BI.</p>
                           
                            {% comment %} <h2 class="pq-blog-single-title" style="color:#008db0">Front-End Development</h2> {% endcomment %}
                            {% comment %} <p  style="color:black">Adobe Photoshop,Adobe Dreamweaver,HTML,CSS,Javascript, JSON and Jquery</p> {% endcomment %}
                            <div class="pq-blog-single-info">
                               
                                <h2  class="pq-blog-single-title"  style="color:#008db0">Development</h2>
                                <ul>
                                    <li style="color:black;">Basics of Data Analysis</li>
                                    <li style="color:black;">Data Visualization</li>
                
                                    <li style="color:black;">Microsoft Excel</li>
                                    <li style="color:black;">Advanced Excel</li>
                                    <li style="color:black;">Power BI</li>
                                    <li style="color:black;">Dashboard Preparation</li>
                                    
                                </ul>   
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Career Opportunities</h2>
                            <ul>
                                <li>
                                    Data Analyst
                                </li>
                                <li>
                                    Business Analyst
                                </li>
                                <li>
                                    MIS Executive
                                </li>
                                <li>
                                    Office Works
                                </li>
                               
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Technical Skills</h2>
                            <ul>
    
                                <li>Data Analysis</li>
                                <li>Data Visualization</li>
                                <li>Microsoft Excel</li>
                                <li>Power BI</li>
                                
                                
                            </ul>
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <img src="{% static 'images/ddi.jpg' %}">
                        </div>
                        {% comment %} <div id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">Using Languages</h2>
                            <ul style="list-style-type:square">
                                
                                <li>Python</li>
                                
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}