{% extends 'base.html' %}
{% block title %} DIPLOMA IN DATA ENTRY | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h3 style="text-align: center; color: #008db0;">DIPLOMA IN DATA ENTRY</h3>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;"> The objective of the Diploma in Data Entry (DDE) course is to equip students with the necessary knowledge and skills to perform data entry tasks accurately and efficiently. The course aims to provide comprehensive training in data entry techniques, software applications, and data management.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/dde.jpg' %}" alt="blog-img" style="height:224px">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
            <div id="accordion">
          

                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Computer Fundamentals & OS

                      </a>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Getting Started With E- Type


                          </a>
                        </div>
                       
                        </div>
                 
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;MS Office

                          </a>
                        </div>
                       
                        </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;PageMaker
    
                              </a>
                            </div>
                           
                            </div>
                            <div class="card">
                                <div class="card-header">
                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Local Language Software (ISM Local Language Typing)
        
                                  </a>
                                </div>
                               
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Internet & E-mail 

            
                                      </a>
                                    </div>
                                   
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Data Entry Practice & Test 
                                             
                                            
    
                
                                          </a>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse12">
                                                <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Exit Profile
                                              </a>
                                            </div>
                                            <div id="collapse12" class="collapse" data-bs-parent="#accordion">
                                              <div class="card-body">
                                                  <ul>
                                                    <li>Able to touch type English using Ten Fingers</li>
                                                    <li>Increase speed and accuracy in English Data entry</li>
                                                    <li>Able to touch type at the speed of 40 WPM</li>
                                                    <li>Able to automate activities with MS Office</li>
                                                    <li>Able to do desktop publishing works with PageMaker</li>
                                                    <li>Able to type in local language</li>
                                                      
                                                  </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                            <div class="card-header">
                                              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse13">
                                                <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Career Path
                                              </a>
                                            </div>
                                            <div id="collapse13" class="collapse" data-bs-parent="#accordion">
                                              <div class="card-body">
                                                  <ul>
                                                    <li>Data Entry Operator</li>
                                                    <li>DTP operator</li>
                                                    <li>Office Assistant</li>
                                                      
                                                  </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div><br>
                                            <h5> CERTIFICATE</h5>
                                        
                        ★  DDE - G-TEC Certificate
                                                   
                                               
                        
                            
                      
                                        </div>
                              </div>
                              
                
    </section>
  {% endblock %}