{% extends 'base.html' %}
{% block title %} Graduate Employability Enhancement Program | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h3 style="text-align: center; color: #008db0;">Graduate Employability Enhancement Program</h3>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;"> To help graduates understand and develop the necessary skills in latest Technologies. This course includes Live Project which makes the student confident in his/her career path.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/g1.jpg' %}" alt="blog-img" style="height:224px">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
            <div id="accordion">
          

                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;HTML

                      </a>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;JavaScript


                          </a>
                        </div>
                       
                        </div>
                 
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; JQuery


                          </a>
                        </div>
                       
                        </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Json

    
                              </a>
                            </div>
                           
                            </div>
                            <div class="card">
                                <div class="card-header">
                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Adobe Dreamweaver CC

        
                                  </a>
                                </div>
                               
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Programming Logic and Practices

            
                                      </a>
                                    </div>
                                   
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Core Java and Android Development /Python / C# & ASP.NET / PHP and MySQL 
                                              
                                             
                                            
    
                
                                          </a>
                                        </div>
                                       
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;  Software Engineering
                                                 
                                               
        
                    
                                              </a>
                                            </div>
                                           
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Personality Development
            
                        
                                                  </a>
                                                </div>
                                               
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp; Grooming Interview Skill
                
                            
                                                      </a>
                                                    </div>
                                                   
                                                    </div>
                                                   
                                               
                        
                                        
                                          <h5> CERTIFICATE</h5>
                                      
                      ★  GEEP - G-TEC Certificate
                                         
                      
                                        </div>
                              </div>
                              
                
    </section>
  {% endblock %}