{% extends 'base.html' %}
{% block title %} G-Operator | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;"> G-Operator</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;"> A course designed for a novice in the field of programming, gives you a first easy step to enter into the world of programming through the most popular, most loved C Programming</p>
                       
                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/aa.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Computer Basic & MS DOS

                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Windows & Introduction to OS/GUI
                  </a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;    MS Office
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;   Internet & E-mail
                    </a>
                    </div>
                   
                  </div>
                 
                    </div>
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ G-TEC Certificate
                   
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}