{% extends 'base.html' %}
{% block title %} Master Diploma In Artifical Intelligence & Data Science | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;">Master Diploma In Artifical Intelligence & Data Science</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/ai.jpg' %}" width="90%" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>This will make you an expertise in Artifical Intelligence & data science and there by achieving dual domain which will definitely help you to build a career in the entire real-world application of machine larning,Deep learning,data science and AI. </p>
                           
                            {% comment %} <h2 class="pq-blog-single-title" style="color:#008db0">Front-End Development</h2> {% endcomment %}
                            {% comment %} <p  style="color:black">Adobe Photoshop,Adobe Dreamweaver,HTML,CSS,Javascript, JSON and Jquery</p> {% endcomment %}
                            <div class="pq-blog-single-info">
                               
                                <h2  class="pq-blog-single-title"  style="color:#008db0">Development</h2>
                                <ul>
                                    <li style="color:black;">Python Programming and PyPi packages</li>
                                    <li style="color:black;">Data Science:exploring data integration,mining and visualization</li>
                
                                    <li style="color:black;">Mathematical Approch of AI</li>
                                    <li style="color:black;">Foundation of NLP</li>
                                    <li style="color:black;">Deep Learning</li>
                                    <li style="color:black;">Machine Learning Algorithm</li>
                                    <li style="color:black;">Neural Networks</li>
                                </ul>   
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Career Opportunities</h2>
                            <ul>
                                <li>
                                    Programmer in AI
                                </li>
                                <li>
                                    Programmer in Machine Learning
                                </li>
                                <li>
                                    Data Analyst
                                </li>
                                <li>
                                    Python Programmer
                                </li>
                               
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Technical Skills</h2>
                            <ul>
    
                                <li>Data Science</li>
                                <li>Machine Learning</li>
                                <li>Deep Learning</li>
                                <li>MySQL</li>
                                <li>Neural Networks</li>
                                
                            </ul>
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <img src="{% static 'images/ai1.jpg' %}">
                        </div>
                        {% comment %} <div id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">Using Languages</h2>
                            <ul style="list-style-type:square">
                                
                                <li>Python</li>
                                
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}