{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;">Master In Software Engineering</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/gtecpayyanur_mse.jpg' %}" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>Master in software engineering is a 100% job oriented course covering all the four semesters with the latest topics in IT sector,making a developer from novice to expert.
                                This course ensure you to become a sophisticated programmer mastering in all major Programming languages and frameworks for several applications.
                            </p>
                           
                            <h2 class="pq-blog-single-title" style="color:#008db0">Front-End Development</h2>
                            <p  style="color:black">Adobe Photoshop,Adobe Dreamweaver,HTML,CSS,Javascript, JSON and Jquery</p>
                            <div class="pq-blog-single-info">
                               
                                <h2  class="pq-blog-single-title"  style="color:#008db0">Back-End Development</h2>
                                <ul>
                                    <li style="color:black;">PHP-Laravel using MySQL</li>
                                    <li style="color:black;">Python-Django using SqLite3</li>
                
                                    <li style="color:black;">Dart Programming,Android Studio ,Flutter</li>
                                    <li style="color:black;">React and React Native</li>
                                    <li style="color:black;">Java-spring</li>
                                </ul>   
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Career Opportunities</h2>
                            <ul>
                                <li>
                                    Full Stack Web Developer
                                </li>
                                <li>
                                    Front-End Developer
                                </li>
                                <li>
                                    Back-End Developer
                                </li>
                               
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Technical Skills</h2>
                            <ul>
    
                                <li>Adobe Photoshop,Adobe Dreamweaver</li>
                                <li>HTML,CSS, Javascript,Jquery,JSON</li>
                                <li>PHP,Laravel</li>
                                <li>MySQL</li>
                                <li>Python Django</li>
                                <li>Dart Programming,Android Studio,flutter</li>
                                <li>React 7, React Native</li>
                                <li>Java SE,Java EE,Spring</li>
                            </ul>
                        </div>
                        {% comment %} <div id="meta-2" class="widget widget_meta">
                            <img src="{% static 'images/full-stack.png' %}">
                        </div> {% endcomment %}
                        <div id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">Using Languages</h2>
                            <ul style="list-style-type:square">
                                <li>PHP[Laravel]</li>
                                <li>Python[Django]</li>
                                <li>Flutter</li>
                                <li>React Native</li>
                                <li>Java[Spring]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}