{% extends 'base.html' %}
{% block title %} Master In Software Engineering (MSE) | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h1 style="text-align: center; color: #008db0;"> Master In Software Engineering (MSE)</h1>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">This course will cover user interface designing using the powerful tools within Figma. Figma is a very powerful application that runs online, similar to Sketch and Adobe XD but is the most powerful of the three when it comes to team collaboration and responsive, fast-paced design. By end of this course will have a fully interactive design and prototype</p>
                       
                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/mse.jpg' %}" alt="blog-img">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
         
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                       <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Computer Basics
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                      <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; MS Office 
                  </a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Programming Logic and Practices 
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;  Programming in VB .NET
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;  DBMS 
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; Object Oriented Programming in C++,Python / Programming in C#.NET
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; HTML
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp; JavaScript
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;JQuery
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Json
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Web Development Using PHP and MySQL / Web Development - ASP.NET using VB.NET or C#.NET
                    </a>
                    </div>
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px;"> &nbsp;Advanced Java (EE) Project / Android Project
                    </a>
                    </div>
                   
                  </div>
                  
                    </div>
                  </div>
                  <div><br>
                    <h5>1 CERTIFICATES</h5>
                    ★ MSE - G-TEC Certificate
                   
                  </div>
              </div>
              
            </div>
       
        </div>
    </section>
  {% endblock %}