{% extends 'base.html' %}
{% block title %} Post Graduate Diploma In Computer Application | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}

    <!--Blog-Single Start-->
    <h2 style="color:#008db0;text-align:center;">Post Graduate Diploma In Computer Application(PGDCA)</h2>
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        <div class="pq-post-media">
                            <img src="{% static 'images/pgdca.jpeg' %}" alt="blog-img">
                        </div>
                        <div class="pq-blog-contain">
                            
                            <p>This course will help you learn the programming tools from basic to advanced in an intuitive way with exercises and projects.It would help you to be confident with the tools or languages and become a professional programmer with front-end skills like HTML,CSS,Jquery,Bootstrap and back-end skills like PHP,Laravel.</p>
                           
                            <h2 class="pq-blog-single-title" style="color:#008db0">Front-End Development</h2>
                            <p  style="color:black">Adobe Photoshop,Adobe Illustrator,Adobe Dreamweaver</p>
                            <div class="pq-blog-single-info">
                                <h2 class="pq-blog-single-title"  style="color:#008db0">Computer Basics</h2>
                                <ul>
                                    <li style="color:black;">Introducing OS/GUI</li>
                                    <li style="color:black;">Typing</li>
                                    <li style="color:black;">Manual Accounting</li>
                                    <li style="color:black;">Introduction to Tally</li>
                                    <li style="color:black;">MS Office</li>
                                    <li style="color:black;">Internet & Email</li>
                                </ul>
                                <h2  class="pq-blog-single-title"  style="color:#008db0">Back-End Development</h2>
                                <ul>
                                    <li style="color:black;">PHP</li>
                                    <li style="color:black;">Laravel</li>
                
                                    <li style="color:black;">Databases Design & Managment</li>
                                    <li style="color:black;">Working with Github</li>
                                </ul>   
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="pq-comment-area">
                    
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div id="secondary" class="sidebar widget-area">
                       
                        <div id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Career Opportunities</h2>
                            <ul>
                                <li>
                                    Full Stack Web Developer
                                </li>
                                <li>
                                    Front-End Developer
                                </li>
                                <li>
                                    Back-End Developer
                                </li>
                               
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Technical Skills</h2>
                            <ul>
                                <li>Computer Basics</li>
                                <li>Adobe Photoshop,Adobe Illustrator,Adobe Dreamweaver</li>
                                <li>HTML,CSS,and Javascript(it is pretty much mandatory!)</li>
                                <li>Bootstrap,Jquery,JSON</li>
                                <li>PHP,Laravel</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <img src="{% static 'images/full-stack.png' %}">
                        </div>
                        <div id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">Using Languages</h2>
                            <ul style="list-style-type:square">
                                <li>PHP with MySQL,Laravel</li>
                           
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog-Single End-->
{% endblock %}