{% extends 'base.html' %}
{% block title %} Software Courses | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}


<section class="banner_main">
    <div class="container-fluid">
       <div class="row d_flex">
          
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                

<section class="all-services" style="max-width: 100%; overflow-x: auto;">
    <div class="container">
        <div class="row" style="margin-left: 10px; margin-right: 10px;">
            <div class="col-xl-4 col-lg-4" style="max-width: 100%; flex: 0 0 100%; padding: 0;">
                <div class="pq-widget" style="max-width: 100%; width: 100%; overflow: auto;">
                    <div class="pq-widget pq-widget-port p-0">
                        <div class="menu-service-menu-container">
                            <h3 style="font-size: 1.5rem;">Certified Courses</h3><br>
                            <ul id="menu-service-menu" class="menu">
                                <li>
                                    <a href="software/Android" aria-current="page">Android With Flutter</a>
                                </li>

                                <li>
                                    <a href="software/CCDS" aria-current="page">Certificate Course In Data Science</a>
                                </li>

                                <li>
                                    <a href="software/CCDA" aria-current="page">Certificate Course In Data Analytics</a>
                                </li>

                                <li>
                                    <a href="software/Django" aria-current="page">Django</a>
                                </li>

                                <li>
                                    <a href="software/Figma" aria-current="page">Figma</a>
                                </li>
                                <li>
                                    <a href="software/Java SE" aria-current="page">Java SE</a>
                                </li>
                                <li>
                                    <a href="software/Java EE" aria-current="page">Java EE</a>
                                </li>
                                <li>
                                    <a href="software/Mysql" aria-current="page">MySQL</a>
                                </li>
                                <li>
                                    <a href="software/Python" aria-current="page">Python</a>
                                </li>
                                <li>
                                    <a href="software/C" aria-current="page">Programming in C</a>
                                </li>
                                <li>
                                    <a href="software/CPP" aria-current="page">Programming in C++</a>
                                </li>
                                <li>
                                    <a href="software/GO" aria-current="page">G - Operator</a>
                                </li>
                                <li>
                                    <a href="software/Dataentry" aria-current="page">Data Entry (GADE,GEDA,GMDA)</a>
                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
             </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <img src="{% static 'images/ed.jpg' %}" alt="" class="img-fluid d-block mx-auto" style="height:1070px;margin-top:60px;margin-left:50px;">
             </div>
          </div>
       </div>
    </div>
 </section>
    </div>
</section>

<section class="banner_main" style="padding-top:1px;">
    <div class="container-fluid">
       <div class="row d_flex">
          
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <img src="{% static 'images/ed.jpg' %}" alt=""  class="img-fluid d-block mx-auto"style="height:270px;padding-left:100px;width:100%;padding-right:100px; margin-top:65px;">
             </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <section class="all-services" style="max-width: 100%; overflow-x: auto;">
                    <div class="container">
                        <div class="row" style="margin-left: 10px; margin-right: 10px;">
                            <div class="col-xl-4 col-lg-4" style="max-width: 100%; flex: 0 0 100%; padding: 0;">
                                <div class="pq-widget" style="max-width: 100%; width: 100%; overflow: auto;">
                                    <div class="pq-widget pq-widget-port p-0">
                                        <div class="menu-service-menu-container">
                                            <h3 style="font-size: 1.5rem;">Master Courses</h3><br>
                                            <ul id="menu-service-menu" class="menu">
                                                <li>
                                                    <a href="software/mse" aria-current="page">Master In Software Engineering (MSE)</a>
                                                </li>
                
                                                <li>
                                                    <a href="software/pgdca" aria-current="page">Post Graduate Diploma In Computer Application(PGDCA)</a>
                                                </li>
                
                                                
                                            </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                    </div>
        </div>
    </section>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="banner_main">
    <div class="container-fluid">
       <div class="row d_flex">
          
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <section class="all-services" style="max-width: 100%; overflow-x: auto;">
                    <div class="container">
                        <div class="row" style="margin-left: 10px; margin-right: 10px;">
                            <div class="col-xl-4 col-lg-4" style="max-width: 100%; flex: 0 0 100%; padding: 0;">
                                <div class="pq-widget" style="max-width: 100%; width: 100%; overflow: auto;">
                                    <div class="pq-widget pq-widget-port p-0">
                                        <div class="menu-service-menu-container">
                                            <h3 style="font-size: 1.5rem;">Diploma Courses</h3><br>
                                            <ul id="menu-service-menu" class="menu">
                                                <li>
                                                    <a href="software/ui-ux" aria-current="page">Advanced Diploma In UI/UX Designing</a>
                                                </li>
                                                <li>
                                                    <a href="software/Geep" aria-current="page">Graduate Employability Enhancement Program (GEEP)</a>
                                                </li>
                                                <li>
                                                    <a href="software/ADDA" aria-current="page"> Advanced Diploma In Data Analysis </a>
                                                </li>
                                                <li>
                                                    <a href="software/fullstack" aria-current="page">Full Stack Web Development</a>
                                                </li>
                                                <li>
                                                    <a href="software/DWD" aria-current="page">Diploma In Web Designing</a>
                                                </li>
                                                <li>
                                                    <a href="software/DDE" aria-current="page">Diploma In Data Entry</a>
                                                </li>
                                                <li>
                                                    <a href="software/CTTC" aria-current="page">Computer Teachers Training Course (CTTC)</a>
                                                </li>
                
                                                <li>
                                                    <a href="software/CTTP" aria-current="page">Computer Teachers Training Program (CTTP)</a>
                                                </li>
                
                                                <li>
                                                    <a href="software/DCA" aria-current="page">DIPLOMA IN COMPUTER APPLICATION (DCA)</a>
                                                </li>
                
                                                <li>
                                                    <a href="software/AO" aria-current="page">Advanced Operator (AO)</a>
                                                </li>
                
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
             </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
             <div class="text-bg">
                <img src="{% static 'images/ed.jpg' %}" alt=""  class="img-fluid d-block mx-auto" style="height:850px;margin-top:60px;margin-left:50px;width:500px;">
             </div>
          </div>
       </div>
    </div>
 </section>

    {% endblock %}
