{% extends 'base.html' %}
{% block title %} ADVANCED DIPLOMA IN UI/UX DESIGNING | G-TEC Payyanur{% endblock %}
{% load static %}
{% block content %}
                            <h3 style="text-align: center; color: #008db0;">ADVANCED DIPLOMA IN UI/UX DESIGNING</h3>
                        <!-- </div>
                        
                    </nav>     
                </div>
            </div>
        </div>
    </div> -->
    <!--Breadcrumb End-->

    <!--Blog-Single Start-->
    <section class="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pq-blog-post">
                        
                        <div class="pq-blog-contain">
                            
                            <p style="color:black;">Design alluring and meaningful web applications. The goal of this course is to understand UI/UX Design in order to design with intention. Achieve a deep understanding of the entire life cycle of design—the process, purpose, and tools. The course will discuss topics on UI Design, which is about the looks and feel of the website or app while UX design improves the overall experience of the users when they interact with website or app. The UI/UX Design Specialization brings a design-centric approach to user interface and user experience design, and offers practical, skill-based instruction centered on a visual communication perspective. You will enjoy the front end and back-end development for sure.</p>

                        </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" style="float:right;">
                                 
                        
                    <div id="categories-2" class="widget widget_categories">
                        <div class="pq-post-media">
                            <img src="{% static 'images/ux.jpg' %}" alt="blog-img" style="height:224px">
                                
                        </div>
                    </div>
                </div>
            </div>

            <h3  style="text-align: center; color: #008db0;"><u>Course Outline</u></h3>
            <br>
            <div id="accordion">
                
                <div class="card">
                    <div class="card-header">
                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Introduction to UI/UX Design
                         

                      </a>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;UX Design & Research


                          </a>
                        </div>
                       
                        </div>
                 
                      <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Adobe XD

                          </a>
                        </div>
                       
                        </div>
                        <div class="card">
                            <div class="card-header">
                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Figma

    
                              </a>
                            </div>
                           
                            </div>
                            <div class="card">
                                <div class="card-header">
                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Miro

        
                                  </a>
                                </div>
                               
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                         <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Notion

            
                                      </a>
                                    </div>
                                   
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                             <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;UX User Testing
                                          </a>
                                        </div>
                                       
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                 <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Adobe After Effects
                                              </a>
                                            </div>
                                           
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                  <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                                     <img src="{% static 'images/icons8-drop-down-96.png' %}" style="width:20px; height:30%;"> &nbsp;Designing own project
                                                  </a>
                                                </div>
                                               
                                                </div>
                                      
                                               
                        
                                      
                                          <h5> CERTIFICATE</h5>
                                      
                      ★ ADUXD - Gtec Certificate
                                         
                      
                                        </div>
                              </div>
                              
                
    </section>
  {% endblock %}